<% layout('../public/layout') %>
<script type="text/javascript" src="/assets/js/activities.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/activity_main.css">
<link rel="stylesheet" type="text/css" href="/assets/css/activity_float.css">

<div id="fullpage">
  <div class="main_page">
    <div class="section" id="project_intro">
      <div id="intro_left">
        <h1>Activity</h1>
        <p>C-Hub is a creative space came about from the interconnection among 
          Creativity, Human, Urban, and Building Environment.</p>
        <div class="space"></div>
        <img id="you_can" src="/assets/images/you_can.png">
        <a href="#" id="search">　</a>
      </div>
      <div id="intro_right">
        <img class="main_round_pic" src="/assets/images/activity_round.png">
      </div>
    </div>

    <div class="section no_menu" id="activity_view">
      <div id="preview_control">
        <a class="sort_way now" id="sort_hot">HOT</a>
        <a class="sort_way" id="sort_time">TIME</a>
      </div>
      <div class="with_scroll" id="activity_list">     
        <div class="row" id="row_1">
          <% for(var i = 0; i < activity.length; i += 4) { %>
            <div class="activity_item" activity-id="<%= activity[i]._id %>">
              <!-- <img class="preview_pic" src="/assets/images/project_ex2.png"> -->
              <div class="auto_adjust">
                <img class="preview_pic" src="/uploads/activity/<%= activity[i]._id %>/logo.png">
              </div>
              <div class="preview_more"></div>
              <p class="preview_title"><%= activity[i].Name %>
              <p class="preview_class"><%= activity[i].Type %></p>
              <p class="preview_date"><%= activity[i].Time %></p>
            </div>
          <% } %>
        </div>
        <div class="row" id="row_2">
          <% for(var i = 1; i < activity.length; i += 4) { %>
            <div class="activity_item" activity-id="<%= activity[i]._id %>">
              <!-- <img class="preview_pic" src="/assets/images/project_ex2.png"> -->
              <div class="auto_adjust">
              <img class="preview_pic" src="/uploads/activity/<%= activity[i]._id %>/logo.png">
              </div>
              <div class="preview_more"></div>
              <p class="preview_title"><%= activity[i].Name %></p>
              <p class="preview_class"><%= activity[i].Type %></p>
              <p class="preview_date"><%= activity[i].Time %></p>
            </div>
          <% } %>
        </div>
        <div class="row" id="row_3">
          <% for(var i = 2; i < activity.length; i += 4) { %>
            <div class="activity_item" activity-id="<%= activity[i]._id %>">
              <!-- <img class="preview_pic" src="/assets/images/project_ex2.png"> -->
              <div class="auto_adjust">
              <img class="preview_pic" src="/uploads/activity/<%= activity[i]._id %>/logo.png">
              </div>
              <div class="preview_more"></div>
              <p class="preview_title"><%= activity[i].Name %></p>
              <p class="preview_class"><%= activity[i].Type %></p>
              <p class="preview_date"><%= activity[i].Time %></p>
            </div>
          <% } %>
        </div>
        <div class="row" id="row_4">
          <% for(var i = 3; i < activity.length; i += 4) { %>
            <div class="activity_item" activity-id="<%= activity[i]._id %>">
              <!-- <img class="preview_pic" src="/assets/images/project_ex2.png"> -->
              <div class="auto_adjust">
              <img class="preview_pic" src="/uploads/activity/<%= activity[i]._id %>/logo.png">
              </div>
              <div class="preview_more"></div>
              <p class="preview_title"><%= activity[i].Name %></p>
              <p class="preview_class"><%= activity[i].Type %></p>
              <p class="preview_date"><%= activity[i].Time %></p>
            </div>
          <% } %>
        </div>
      </div>
    </div> 

    <div class="section no_menu" id="footer">
      <% include ../public/footer %>
    </div>
  </div>
</div>