<% layout('../public/layout') %>
<div class="head">
  <h1>Activity</h1>
  <h2>C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Buidling Environment.</h2>
  <a class="ui button searchbtn">search</a>
  <a class="ui button"  href="/activities/new">Create</a>
</div>
<div class="ui special cards">
  <% for(var i in activity){ %>
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <div class="ui primary button info" activity-id="<%= activity[i]._id %>">Info</div>
            </div>
          </div>
        </div>
        <% if(activity[i].hasCover == 1){ %>
        <img src="/uploads/activity/<%= activity[i]._id %>/logo.png">
        <% }else {%>
        <img src="/assets/images/group.png">
        <% } %>
      </div>
      <div class="content">
        <a class="header"><%= activity[i].Name %></a>
        <div class="meta">
          <span class="date">Type: <%= activity[i].Type %></span>
        </div>
      </div>
      <div class="extra content">
        <a><i class="users icon"></i>
          <%= activity[i].MemberID.length %> members
        </a>
      </div>
    </div>
  <% } %>
</div>
<div class="ui modal">

</div>

<script>
$(document).ready(function(){
<% if(id !== undefined){ %>
  $('.primary.info[activity-id=<%= id %>]').trigger('click');
<% } %>
});
</script>
