<% layout('../public/layout') %>
<script type="text/javascript" src="/assets/js/activities.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/activity_main.css">

<div id="fullpage">
  <div class="main_page">
    <div class="section" id="activity_intro">
      <div id="intro_left">
        <h1>Activity</h1>
        <p>All you need to do is: work hard, learn hard, and play hard.</p>
        <div class="space"></div>
        <!-- <img id="you_can" src="/assets/images/you_can.png"> -->
        <!-- <a href="#" id="search">　</a> -->
      </div>
      <div id="intro_right">
        <img class="main_round_pic" src="/assets/images/activity_round.png">
      </div>
    </div>
    <div class="section no_menu" id="activity_view">
      <div id="preview_control">
          <a class="page_move" id="page_up">　</a>
          <a class="page_move" id="page_down">　</a>
        <!-- <a class="sort_way now" id="sort_hot">HOT</a>
        <a class="sort_way" id="sort_time">TIME</a> -->
      </div>
      <div class="with_scroll fake_scroll syncscroll" name="activity_list">
        <div class="fake_cont"></div>
      </div>
      <div class="syncscroll" id="activity_list"  name="activity_list">   
        <div class="row" id="row_1">
          <% for(var i = 0; i < activity.length; i += 4) { %>
            <div class="activity_item" activity-id="<%= activity[i]._id %>">
              <!-- <img class="preview_pic" src="/assets/images/project_ex2.png"> -->
              <div class="auto_adjust not_yet">
                <img  src="/uploads/activity/<%= activity[i]._id %>/logo.png?<%= new Date().getTime() %>">
                
              </div>
              <img class="preview_shadow" src="/assets/images/activity_shadow.png">
              <div class="preview_more"></div>
              <p class="preview_title"><%= activity[i].Name %>
              <p class="preview_class"><%= activity[i].Type %></p>
              <p class="preview_date">
                <% if(activity[i].Duration.length == 1 || (activity[i].Duration[1] - activity[i].Duration[0]) / (1000 * 60 * 60 * 24) < 1){ %>
                	<%= new Date(Number(activity[i].Duration[0])).getFullYear() %>/<%= new Date(Number(activity[i].Duration[0])).getMonth() + 1 %>/<%= new Date(Number(activity[i].Duration[0])).getDate() %>
                <% }else{ %> 
                		<%= new Date(Number(activity[i].Duration[0])).getFullYear() %>/<%= new Date(Number(activity[i].Duration[0])).getMonth() + 1 %>/<%= new Date(Number(activity[i].Duration[0])).getDate() %>
                    -
                    <% if(new Date(Number(activity[i].Duration[0])).getFullYear() != new Date(Number(activity[i].Duration[1])).getFullYear()){%><%= new Date(Number(activity[i].Duration[1])).getFullYear() %>/<%}%><% if(new Date(Number(activity[i].Duration[0])).getMonth() != new Date(Number(activity[i].Duration[1])).getMonth()){%><%= new Date(Number(activity[i].Duration[1])).getMonth() + 1%>/<%}%><%= new Date(Number(activity[i].Duration[1])).getDate() %>
                <% } %>
              </p>
            </div>
          <% } %>
        </div>
        <div class="row" id="row_2">
          <% for(var i = 1; i < activity.length; i += 4) { %>
            <div class="activity_item" activity-id="<%= activity[i]._id %>">
              <!-- <img class="preview_pic" src="/assets/images/project_ex2.png"> -->
              <div class="auto_adjust not_yet">
	              <img class="preview_pic" src="/uploads/activity/<%= activity[i]._id %>/logo.png?<%= new Date().getTime() %>">
              </div>
              <img class="preview_shadow" src="/assets/images/activity_shadow.png">
              <div class="preview_more"></div>
              <p class="preview_title"><%= activity[i].Name %></p>
              <p class="preview_class"><%= activity[i].Type %></p>
              <p class="preview_date">
                <% if(activity[i].Duration.length == 1 || (activity[i].Duration[1] - activity[i].Duration[0]) / (1000 * 60 * 60 * 24) < 1){ %>
                	<%= new Date(Number(activity[i].Duration[0])).getFullYear() %>/<%= new Date(Number(activity[i].Duration[0])).getMonth() + 1 %>/<%= new Date(Number(activity[i].Duration[0])).getDate() %>
                <% }else{ %> 
                		<%= new Date(Number(activity[i].Duration[0])).getFullYear() %>/<%= new Date(Number(activity[i].Duration[0])).getMonth() + 1 %>/<%= new Date(Number(activity[i].Duration[0])).getDate() %>
                    -
                    <% if(new Date(Number(activity[i].Duration[0])).getFullYear() != new Date(Number(activity[i].Duration[1])).getFullYear()){%><%= new Date(Number(activity[i].Duration[1])).getFullYear() %>/<%}%><% if(new Date(Number(activity[i].Duration[0])).getMonth() != new Date(Number(activity[i].Duration[1])).getMonth()){%><%= new Date(Number(activity[i].Duration[1])).getMonth() + 1%>/<%}%><%= new Date(Number(activity[i].Duration[1])).getDate() %>
                <% } %>
              </p>
            </div>
          <% } %>
        </div>
        <div class="row" id="row_3">
          <% for(var i = 2; i < activity.length; i += 4) { %>
            <div class="activity_item" activity-id="<%= activity[i]._id %>">
              <!-- <img class="preview_pic" src="/assets/images/project_ex2.png"> -->
              <div class="auto_adjust not_yet">
	              <img class="preview_pic" src="/uploads/activity/<%= activity[i]._id %>/logo.png?<%= new Date().getTime() %>">
              </div>
              <img class="preview_shadow" src="/assets/images/activity_shadow.png">
              <div class="preview_more"></div>
              <p class="preview_title"><%= activity[i].Name %></p>
              <p class="preview_class"><%= activity[i].Type %></p>
              <p class="preview_date">
                <% if(activity[i].Duration.length == 1 || (activity[i].Duration[1] - activity[i].Duration[0]) / (1000 * 60 * 60 * 24) < 1){ %>
                	<%= new Date(Number(activity[i].Duration[0])).getFullYear() %>/<%= new Date(Number(activity[i].Duration[0])).getMonth() + 1 %>/<%= new Date(Number(activity[i].Duration[0])).getDate() %>
                <% }else{ %> 
                		<%= new Date(Number(activity[i].Duration[0])).getFullYear() %>/<%= new Date(Number(activity[i].Duration[0])).getMonth() + 1 %>/<%= new Date(Number(activity[i].Duration[0])).getDate() %>
                    -
                    <% if(new Date(Number(activity[i].Duration[0])).getFullYear() != new Date(Number(activity[i].Duration[1])).getFullYear()){%><%= new Date(Number(activity[i].Duration[1])).getFullYear() %>/<%}%><% if(new Date(Number(activity[i].Duration[0])).getMonth() != new Date(Number(activity[i].Duration[1])).getMonth()){%><%= new Date(Number(activity[i].Duration[1])).getMonth() + 1 %>/<%}%><%= new Date(Number(activity[i].Duration[1])).getDate() %>
                <% } %>
              </p>
            </div>
          <% } %>
        </div>
        <div class="row" id="row_4">
          <% for(var i = 3; i < activity.length; i += 4) { %>
            <div class="activity_item" activity-id="<%= activity[i]._id %>">
              <!-- <img class="preview_pic" src="/assets/images/project_ex2.png"> -->
              <div class="auto_adjust not_yet">
	              <img class="preview_pic" src="/uploads/activity/<%= activity[i]._id %>/logo.png?<%= new Date().getTime() %>">
              </div>
              <img class="preview_shadow" src="/assets/images/activity_shadow.png">
              <div class="preview_more"></div>
              <p class="preview_title"><%= activity[i].Name %></p>
              <p class="preview_class"><%= activity[i].Type %></p>
              <p class="preview_date">
                <% if(activity[i].Duration.length == 1 || (activity[i].Duration[1] - activity[i].Duration[0]) / (1000 * 60 * 60 * 24) < 1){ %>
                	<%= new Date(Number(activity[i].Duration[0])).getFullYear() %>/<%= new Date(Number(activity[i].Duration[0])).getMonth() + 1 %>/<%= new Date(Number(activity[i].Duration[0])).getDate() %>
                <% }else{ %> 
                		<%= new Date(Number(activity[i].Duration[0])).getFullYear() %>/<%= new Date(Number(activity[i].Duration[0])).getMonth() + 1 %>/<%= new Date(Number(activity[i].Duration[0])).getDate() %>
                    -
                    <% if(new Date(Number(activity[i].Duration[0])).getFullYear() != new Date(Number(activity[i].Duration[1])).getFullYear()){%><%= new Date(Number(activity[i].Duration[1])).getFullYear() %>/<%}%><% if(new Date(Number(activity[i].Duration[0])).getMonth() != new Date(Number(activity[i].Duration[1])).getMonth()){%><%= new Date(Number(activity[i].Duration[1])).getMonth() + 1 %>/<%}%><%= new Date(Number(activity[i].Duration[1])).getDate() %>
                <% } %>
              </p>
            </div>
          <% } %>
        </div>
      </div>
    </div> 

    <div class="section no_menu" id="footer">
      <% include ../public/footer %>
    </div>
  </div>
</div>