<link rel="stylesheet" type="text/css" href="/assets/css/activity_float.css">
<link rel="stylesheet" type="text/css" href="/assets/css/swiper.min.css">
<script type="text/javascript" src="/assets/js/swiper.min.js"></script>

<script type="text/javascript" src="/assets/js/gallery_all.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/gallery.css">

<!-- <script src="/assets/js/progressive-image.min.js"></script> -->
<!-- <link rel="stylesheet" href="/assets/css/progressive-image.min.css"> -->

<!-- style: people_float.scss -->


<div class="dark_mask"></div>

<div id="detail_left">
  <div id="detail_brief">
    <div class="brief_pic">
      <!-- <img id="project_pic" src="/assets/images/project_ex2.png"> -->
      <!-- <div class="auto_adjust_activity_inner not_yet">
        <img id="project_pic" src="/uploads/activity/<%= activity._id %>/logo.png?<%= new Date().getTime() %>">
      </div> -->
			<a href="/uploads/activity/<%= activity._id %>/logo.png?<%= new Date().getTime() %>" class="progressive replace auto_adjust_activity_inner not_yet">
			  <img id="project_pic" src="/uploads/activity/<%= activity._id %>/logo_tiny.png?<%= new Date().getTime() %>" class="preview" alt="image" />
			</a>
      <img id="pic_more" src="/assets/images/pic_more_2.png">
    </div>
    <p class="project_name">
      <% for(var i = 0; i < activity.BigTitle.length; i++){ %>
        <%= activity.BigTitle[i] %>
        <!-- <% if(activity.BigTitle[i] != "" && i != activity.BigTitle.length - 1) { %><br><% } %> -->
        <br>
      <% } %>   
    </p>
  </div>
</div>
<div class="with_scroll" id="detail_right">
  <p id="detail_main_text">
    <% for(var i = 0; i < activity.SmallTitle.length; i++){ %>
      <%= activity.SmallTitle[i] %>
      <% if(activity.SmallTitle[i] != "" && i != activity.SmallTitle.length - 1) { %><br><% } %>
    <% } %>    
  </p>
  <p id="detail_type">
      <p class="title">Type</p><span>/</span>
      <p class="short orange"><%= activity.Type %></p>
  </p>
	<p id="detail_TimeTable">
		<p class="title with_space">TimeTable<span>/</span>
		<p class="orange long">
			<% for(var j = 0; j < activity.Time.length; j += 2) { %>
	  		<%= new Date(Number(activity.Time[j])).getFullYear() %>/<%= new Date(Number(activity.Time[j])).getMonth() + 1 %>/<%= new Date(Number(activity.Time[j])).getDate() %>
	  		&nbsp;&nbsp;
	  		<%= new Date(Number(activity.Time[j])).getHours() %>
	  		:
	  		<% if (new Date(Number(activity.Time[j])).getMinutes() != 0){%> 
	  			<%= new Date(Number(activity.Time[j])).getMinutes() %>
	  		<%} else {%>
	  			00
	  		<% } %>
	      &nbsp;-&nbsp;
	      <% if(new Date(Number(activity.Time[j])).getFullYear() != new Date(Number(activity.Time[j + 1])).getFullYear()){%>
	      	<%= new Date(Number(activity.Time[j + 1])).getFullYear() %>
	      	/
	      <%}%>
	      <% if(new Date(Number(activity.Time[j])).getMonth() != new Date(Number(activity.Time[j + 1])).getMonth()){%>
	      	<%= new Date(Number(activity.Time[j + 1])).getMonth() + 1%>
	      	/
	      <% } %>
	      <% if(new Date(Number(activity.Time[j])).getDate() != new Date(Number(activity.Time[j + 1])).getDate()){%>
	      	<%= new Date(Number(activity.Time[j + 1])).getMonth() + 1%>
	      	/
	      	<%= new Date(Number(activity.Time[j + 1])).getDate() %>
	      	&nbsp;&nbsp;
	      <% } %>
	  		<%= new Date(Number(activity.Time[j + 1])).getHours() %>
	  		:
	  		<% if (new Date(Number(activity.Time[j])).getMinutes() != 0){%> 
	  			<%= new Date(Number(activity.Time[j])).getMinutes() %>
	  		<%} else {%>
	  			00
	  		<% } %>
				<br>
      <% } %>
		</p>
	</p>
  <p id="detail_conditions">
    <p class="title with_space">Conditions</p><span>/</span>
    <p class="orange long">
      費用｜NT$ <%= activity.Fee %><br/>身份｜<%= activity.Role %><br/>學分｜<%= activity.Credit %> 分</p>
  </p>
  <p id="detail_location">
    <p class="title">Location</p><span>/</span>
    <p class="short"><%= activity.Location %></p>
    <div class="botton tiny" onclick="window.open('https://www.google.com.tw/maps/search/<%= activity.Location %>')">MAP</div>
  </p>
  <p id="detail_intro">
    <p class="title with_space">Introduction</p><span>/</span>
    <p class="long">
      <%- activity.Introduction.replace(/\r\n/g, '<br/>') %>
      <!-- 123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123</p> -->
  </p>
  <!-- <p id="detail_mission">
    <p class="title with_space">Mission</p><span>/</span>
    <p class="long">
      123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123<br/>123123</p>
  </p> -->
  <p id="detail_contributer"><br/>
    <p class="title">Contributor</p><span>/</span>
    <p class="short"><%= activity.Contributor %></p>
  </p>
  <p id="detail_activities">
    <p class="title with_space">News</p><span>/</span>
    <p class="long"></p>
  </p>
</div>
<!-- 暫時不開放 -->
<!-- <div class="bottom_icons" activity-id="<%= activity._id %>">
  <div class="round_icon join"></div>
  <div class="round_icon interest"></div>
  <div class="round_icon share"></div>
  <div class="round_icon text"></div>
</div> -->
<a href="#" class="close_icon" id="close_window">　</a>
<div class="float_pic_window">
	<div class="gallery" style="background: transparent;">
		<div class="swiper-container">
			<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="auto_adjust not_yet in_swiper">
							<img onclick="window.open('/uploads/activity/<%= activity._id %>/logo.png?<%= new Date().getTime() %>')" src="/uploads/activity/<%= activity._id %>/logo.png?<%= new Date().getTime() %>">
						</div>
					</div>
			    <% for(var i = 0; i < activity.Photo.length; i++) { %>
						<div class="swiper-slide">
							<div class="auto_adjust not_yet in_swiper">
								<img onclick="window.open('<%= activity.Photo[i] %>?<%= new Date().getTime() %>')" src="<%= activity.Photo[i] %>?<%= new Date().getTime() %>">
							</div>
						</div>
			    <% } %>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
		<!-- <div class="close_icon" id="close_gallery"></div> -->
	</div>
</div>

<script>
$(document).ready(function(){
	// loading圖片
	restartProgressiveLoading();

  $('.joinActivity').on('click', function(){
    var id = this.getAttribute('activity-id');
    $.ajax({
      url: "/activities/join/",
      type: "POST",
      data:{
        activity_id:id
      },
      success: function(response) {
        toastr.success("申請成功");
        setTimeout(function(){
          window.location.href = window.location.href;
        },3000);
      }
    });
  });

  $('.quitActivity').on('click', function(){
    var id = this.getAttribute('activity-id');
    $.ajax({
      url: "/activities/quit/",
      type: "POST",
      data:{
        activity_id:id
      },
      success: function(response) {
        toastr.success("退出成功");
        setTimeout(function(){
          window.location.href = window.location.href;
        },3000);
      }
    });
  });

  $('.delActivity').on('click', function(){
    var id = this.getAttribute('activity-id');
    $.ajax({
      url: "/activities/delete/"+id,
      type: "DELETE",
      success: function(response) {
        if(response=="ok"){
          toastr.success("刪除成功");
          setTimeout(function(){
            window.location.href = window.location.href;
          },3000);
        }
      }
    });
  });
});

// $(window).on('load', function() {
//   $(".float_window .not_yet").each (function() {
//       autoAdjust($(this));
//       console.log('done');
//   });
// })
</script>