<% layout('../public/layout') %>
<link rel="stylesheet" type="text/css" href="/assets/css/project_float_mobile.css">
<link rel="stylesheet" type="text/css" href="/assets/css/swiper.min.css">
<script type="text/javascript" src="/assets/js/swiper.min.js"></script>

<script type="text/javascript" src="/assets/js/gallery_all.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/gallery.css">

<div class="float_window">
  <div id="detail_left">
    <div class="class_icons">
      <div class="float_icon culture"></div>
      <div class="float_icon digital"></div>
      <div class="float_icon social"></div>
    </div>
    <div id="detail_brief" >
      <div class="brief_pic">
        <img id="project_pic" src="/uploads/project/<%= project._id %>/logo.png">
        <img id="pic_more" src="/assets/images/pic_more.png">
      </div>
      <p class="project_name">
        <% for(var i = 0; i < project.BigTitle.length; i++){ %>
          <%= project.BigTitle[i] %>
          <% if( i != project.BigTitle.length - 1) { %> <br> <% } %>
        <% } %>   
      </p>
      <hr>
      <p id="detail_main_text">
        <% for(var i = 0; i < project.SmallTitle.length; i++){ %>
          <%= project.SmallTitle[i] %>
          <br>
        <% } %>     
      </p>
    </div>
  </div>
  <div id="detail_right">
    <div id="detail_type">
      <p class="title">Type</p>
      <span>/</span>
      <br>
      <p class="short orange"><%= project.Type %></p>
    </div>
    <div id="detail_location">
      <p class="title">Location</p><span>/</span>
      <br>
      <p class="short orange"><%= project.Location %></p>
      <div class="botton tiny" onclick="window.open('https://www.google.com.tw/maps/search/<%= project.Location %>')">MAP</div>
    </div>
    <div id="detail_duration">
      <p class="title">duration</p>
      <span>/</span>
      <br>
      <p class="short orange">
        <% if(project.Time[1] == 'undefined' ){ %>
          <%= new Date(Number(project.Time[0])).getMonth() + 1 %>
          /
          <%= new Date(Number(project.Time[0])).getDate() %>
        <% }else{ %> 
            <%= new Date(Number(project.Time[0])).getMonth() + 1 %>
            /
            <%= new Date(Number(project.Time[0])).getDate() %>
            -
            <%= new Date(Number(project.Time[1])).getMonth() + 1 %>
            /
            <%= new Date(Number(project.Time[1])).getDate() %>
        <% } %>
      </p>
    </div>
    <div id="detail_need">
      <p class="title">Need</p>
      <span>/</span>
      <br>
      <p class="short orange">
        <% for(var i =0 ; i < project.Need.length  ;i ++){ %>
          <%= project.Need[i] %>
        <% } %>
      </p>
    </div>
    <div id="detail_intro">
      <p class="title with_space">Introduction</p>
      <span>/</span>
      <br>
      <p class="long"><%- project.Introduction.replace(/\r\n/g, '<br/>').replace(/\s/g, '') %>
      </p>
    </div>
    <div id="detail_mission">
      <p class="title with_space">Goal</p>
      <span>/</span>
      <br>
      <p class="long">
        <%= project.Mission %>
      </p>
    </div>
    <div id="detail_contributer"><br/>
      <p class="title">Contributor</p>
      <span>/</span>
      <br>
      <p class="short"></p>
    </div>
    <div id="detail_sponsor">
      <p class="title">Sponsor</p>
      <span>/</span>
      <br>
      <p class="short"></p>
    </div>
    <div id="detail_activities">
      <p class="title">Activities</p>
      <span>/</span>
      <br>
      <p class="short"></p>
    </div>
    <div id="detail_teammate">
      <p class="title">Teammate</p>
      <span>/</span>
      <br>
      <p class="long">
        <% for(var i in members){ %>
          <a class="openInfo" type="users" id="<%= members[i]._id %>"><%= members[i].Name %></a>
          <% if(i != members.length - 1) {%> , <% } %>
        <% } %>
      </p>
    </div>
  </div>
  <div class="float_pic_window">
		<div class="gallery" style="background: transparent;">
			<div class="swiper-container">
				<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="auto_adjust not_yet in_swiper">
								<img src="/uploads/project/<%= project._id %>/logo.png?<%= new Date().getTime() %>">
							</div>
						</div>
				    <% for(var i = 0; i < project.Photo.length; i++) { %>
							<div class="swiper-slide">
								<div class="auto_adjust not_yet in_swiper">
									<img src="<%= project.Photo[i] %>?<%= new Date().getTime() %>">
								</div>
							</div>
				    <% } %>
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
			<div class="close_icon" id="close_window"></div>
		</div>
    <!-- <a href="#" class="close_icon" id="close_pic_view">　</a> -->
  </div>

  <% include ../public/footer %>
</div>



<script>

var pic_window_status = 'closed';
$(document).ready(function(){
  $('.joinProject').on('click', function(){
    var id = this.getAttribute('project-id');
    $.ajax({
      url: "/projects/join/",
      type: "POST",
      data:{
        project_id:id
      },
      success: function(response) {
        toastr.success("申請成功");
        setTimeout(function(){
          window.location.href = window.location.href;
        },3000);
      }
    });
  });

  $('.quitProject').on('click', function(){
    var id = this.getAttribute('project-id');
    $.ajax({
      url: "/projects/quit/",
      type: "POST",
      data:{
        project_id:id
      },
      success: function(response) {
        toastr.success("退出成功");
        setTimeout(function(){
          window.location.href = window.location.href;
        },3000);
      }
    });
  });

  $('.delProject').on('click', function(){
    var id = this.getAttribute('project-id');
    $.ajax({
      url: "/projects/delete/"+id,
      type: "DELETE",
      success: function(response) {
        if(response=="ok"){
          toastr.success("刪除成功");
          setTimeout(function(){
            window.location.href = window.location.href;
          },3000);
        }
      }
    });
  });

	// 綁定顯示輪播照片功能
  $( ".brief_pic, #close_pic_view" ).click( function() {
      float_pic_window();
  });

	$("#close_window, .dark_mask").click(function() {
		close_window();
	});
});

$(window).on('load', function(){
  var inner_pic_size = $("#project_pic").css("width").replace("px","") / $( "#project_pic" ).css("height").replace("px","") ;
  var outer_div_size = 25/35 ;
  if ( inner_pic_size > outer_div_size ) {
      $("#project_pic").addClass("fat");
  }
  else {
      $("#project_pic").addClass("tall");
  }
});

function float_pic_window() {
	if(pic_window_status == 'closed') {
		pic_window_status = 'open';
		$("#detail_left, #detail_right").animate({
			opacity: 0
		}, 500);
		$("#detail_left, #detail_right").hide();
		$("#footer").hide();
		$(".float_pic_window").show();
		// view_scroll_now = $(".gallery_view_pic").width() / 2 + 120;
		// $("#view_all_pic").scrollLeft(view_scroll_now);
		// view_pic_total = $(".pic_counter.total").text();
		// view_display_now = 1 // 每次從1開始算
		// $(".pic_counter.total").text("/" + paddingLeft($(".pic_counter.total").text()));
		$("#fullpage, .cover").animate({
			opacity: 0
		}, 100, function() {
			// $("#view_all_pic").children("#pic_" + view_display_now).addClass("center");
			$(".float_pic_window").animate({
				opacity: 1
			}, 500);
		});

    $(".not_yet").each (function() {
        autoAdjust($(this));
    });

    // swiper initialize
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 2,
        // slidesPerView: 'auto',
        centeredSlides: true,
        paginationClickable: true,
        spaceBetween: 30,
        loop: false,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        breakpoints: {
            640: {
              slidesPerView: 1
            }
        }
    });
	} else if(pic_window_status == 'open') {
		pic_window_status = 'closed';
		$("#fullpage, .cover").animate({
			opacity: 0.1
		}, 500);
		$(".float_pic_window").animate({
			opacity: 0
		}, 500, function() {
			$(".float_pic_window").hide();
			$("#detail_left, #detail_right").show();
			$("#detail_left, #detail_right").animate({
				opacity: 1
			}, 500);
		});
	}
}

function autoAdjust( outer_div ) {
  var inner_pic_size = outer_div.children("img").css("width").replace("px","") / outer_div.children("img").css("height").replace("px","") ;
  var outer_div_size = outer_div.css("width").replace("px","") / outer_div.css("height").replace("px","") ;
  if ( inner_pic_size > outer_div_size ) {
		outer_div.addClass("fat");
		outer_div.removeClass("not_yet");
  }
  else if ( inner_pic_size <= outer_div_size ) {
		outer_div.addClass("tall");
		outer_div.removeClass("not_yet");
  }
}

function close_window() {
	pic_window_status = 'closed';
	$(".float_pic_window").animate({
		opacity: 0
	}, 500, function() {
		$(".float_pic_window").hide();
		$("#footer").show();
		$("#detail_left, #detail_right").show();
		$("#detail_left, #detail_right").animate({
			opacity: 1
		}, 500);
	});
}

</script>
