<% layout('../public/layout') %>
  <div class="results">
    <p>Apply</p>
    <div class="ui special cards">
      <% for(var i in apply){ %>
        <div class="card <%= apply[i]._id %>">
          <div class="blurring dimmable image">
            <div class="ui inverted dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui primary button infoApply" user-id="<%= apply[i]._id %>">Info</div>
                </div>
              </div>
            </div>
            <img src="/assets/images/molly.png">
          </div>
          <div class="content">
              <a class="header"><%= apply[i].Name %></a>
              <div class="meta">
                  <span class="date">Major in <%= apply[i].Major %></span>
              </div>
          </div>
          <div class="extra content">
            <% for(var j = 0; j < apply[i].Skill.length; j++){ %>
            <a class="ui basic label"><%= apply[i].Skill[j] %></a>
            <% } %>
          </div>
        </div>
        <div class="ui modal <%= apply[i]._id %>">
          <i class="close icon"></i>
          <div class="header">
            <%= apply[i].Name %>
          </div>
          <div class="image content">
            <div class="ui medium image">
              <img src="/assets/images/rachel.png">
            </div>
            <div class="description">
              <p>Major: <%= apply[i].Major %></p>
              <p>Skills:
                <% for(var j in apply[i].Skill){ %>
                  <% apply[i].Skill[j] %>
                <% } %>
              </p>
              <p>Group</p>
              <p>Location: <%= user.Location !== undefined ? user.Location : "" %></p>
              <p>Introduction: <%= user.Introduction !== undefined ? user.Introduction : ''%></p>
              <p>Project</p>
              <p>Activity</p>
              <p>portfolio</p>
            </div>
          </div>
          <div class="actions">
            <div class="ui green button acceptButton" user-id="<%= apply[i]._id %>">
              Accept
            </div>
            <div class="ui red button rejectButton" user-id="<%= apply[i]._id %>">
              Reject
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>

<script>
  $(document).ready(function(){
    $('.infoApply').on('click', function(){
      var id = this.getAttribute('user-id');
      $('.ui.modal.' + id).modal('show');
    })
    $('.acceptButton').on('click', function(){
      var id = this.getAttribute('user-id');
      $.ajax({
        url: "/groups/<%= group_id %>/addMember/"+id,
        type: "POST",
        success: function(response) {
          if(response=="ok"){
            toastr.success("成功批准");
            $('.ui.modal.' + id).modal('hide');
            $("."+id).remove();
          }
        }
      });
    })
    $('.rejectButton').on('click', function(){
      var id = this.getAttribute('user-id');
      $.ajax({
        url: "/groups/<%= group_id %>/delMember/"+id,
        type: "POST",
        success: function(response) {
          if(response=="ok"){
            toastr.success("成功拒絕");
            $('.ui.modal.' + id).modal('hide');
            $("."+id).remove();
          }
        }
      });
    })
  });
</script>
