<% layout('../public/layout') %>
<div class="ui centered grid" style="padding-top:50px;">
  <div class="ten wide tablet six wide computer column">
    <h1>Edit group</h1>
    <form class="ui form" id="groupCoverForm">
      <div class="field">
        <div class="errormsg"></div>
      </div>
      <div class="field">
        <label>Photo</label>
        <input type="file" name="cover" id="cover">
      </div>
    </form>
    <form class="ui form" id="groupForm">
      <div class="field">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name" value="<%= group.Name %>">
      </div>
      <div class="field">
        <label>Website</label>
        <input type="text" name="website" placeholder="Website" value="<%= group.Website %>">
      </div>
      <div class="field">
        <label>Type</label>
        <select class="ui fluid dropdown" name="type">
          <option value="type1">type1</option>
          <option value="type2" selected>type2</option>
        </select>
      </div>
      <div class="field">
        <label>Description</label>
        <textarea name="description" placeholder="Description"><%= group.Description %></textarea>
      </div>
      <div class="ui button" id="groupSubmit">Update</div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("select[name=type] option[value=<%= group.Type %>]").attr('selected','selected');
    $("#groupSubmit").on("click",function(){
      $.ajax({
        url: "/groups/update/<%= group._id %>",
        type: "POST",
        data: $("#groupForm").serialize(),
        success: function(response) {
          if (response == "ok") {
            if($("#cover").val()!=""){
              var formData = new FormData($("#groupCoverForm")[0]);
              $.ajax({
                url: "/groups/upload/<%= group._id %>",
                type: "POST",
                data:formData,
                contentType: false,
                processData: false,
                success: function(response) {
                  if (response == "ok") {
                    toastr.success("更新成功");
                    setTimeout(function(){
                      window.location.href="/groups";
                    },3000);
                  }
                  else {
                    $("#groupCoverForm .errormsg").empty();
                    for(var i in response["error"]){
                      $("#groupCoverForm .errormsg").append(`<p>${response["error"][i]}</p>`);
                    }
                  }
                }
              });
            }else{
              toastr.success("更新成功");
              setTimeout(function(){
                window.location.href="/groups";
              },3000);
            }
          }
          else {
            $("#groupCoverForm .errormsg").empty();
            for(var i in response["error"]){
              $("#groupCoverForm .errormsg").append(`<p>${response["error"][i]}</p>`);
            }
          }
        }
      });
    });
  });
</script>
