<% layout('../public/layout') %>
<div id="All_group">
  <div class="head">
    <h1>Group</h1>
    <h2>C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Buidling Environment.</h2>
    <a class="ui button searchbtn">search</a>
    <a class="ui button"  href="/groups/create">Create</a>
  </div>
  <div class="results">
    <p>Group Results</p>
    <div class="ui special cards">
      <% for(var i in groups){ %>
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <div class="ui primary button info" group-id="<%= groups[i]._id %>">Info</div>
            </div>
          </div>
          </div>
          <img src="../assets/images/group.png">
        </div>
        <div class="content">
          <a class="header"><%= groups[i].Name %></a>
          <div class="meta">
          <span class="date">Type: <%= groups[i].Type %></span>
          </div>
        </div>
        <div class="extra content">
          <a>
          <i class="users icon"></i>
          <%= groups[i].MemberID.length %> members
          </a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <% for(var i in groups) { %>
  <div class="ui modal <%= groups[i]._id %>">
    <i class="close icon"></i>
    <div class="header">
      <%= groups[i].Name %>
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img src="../assets/images/group.png">
      </div>
      <div class="description">
        <p>Administrator: </p>
        <p>Type: </p>
        <p>Member: </p>
        <p>Project: </p>
        <p>Activity: </p>
        <p>Introduction: </p>
        <p>News: </p>
        <p>Websites: </p>
      </div>
    </div>
    <div class="actions">
      <% if(me && groups[i].AdminID.indexOf(me._id)!=-1){ %>
        <div class="ui red button delgroup" group-id="<%= groups[i]._id %>">Delete</div>
        <a class="ui green button" href="/groups/edit/<%= groups[i]._id %>">Edit</a>
        <a class="ui green button" href="/groups/<%= groups[i]._id %>/apply">Apply</a>
      <% } %>
      <div class="ui blue button">
        Text Me
      </div>
      <div class="ui blue button">
        Sharing
      </div>
      <% if(me){ %>
        <% if(groups[i].ApplyID.indexOf(me._id)==-1 && groups[i].MemberID.indexOf(me._id)==-1){ %>
          <div class="ui blue button joingroup" group-id="<%= groups[i]._id %>">
            Join
          </div>
        <% }else{ %>
          <div class="ui red button quitgroup" group-id="<%= groups[i]._id %>">
            Quit
          </div>
        <% } %>
      <% } %>
    </div>
  </div>
  <% } %>
</div>

<script>
$(document).ready(function(){
  $('.info').on('click', function(){
    var id = this.getAttribute('group-id');
    $('.ui.modal.' + id).modal('show');
  });
  $('.joingroup').on('click', function(){
    var id = this.getAttribute('group-id');
    $.ajax({
      url: "/groups/join/",
      type: "POST",
      data:{
        group_id:id
      },
      success: function(response) {
        toastr.success("申請成功");
        setTimeout(function(){
          window.location.href = window.location.href;
        },3000);
      }
    });
  });

  $('.quitgroup').on('click', function(){
    var id = this.getAttribute('group-id');
    $.ajax({
      url: "/groups/quit/",
      type: "POST",
      data:{
        group_id:id
      },
      success: function(response) {
        toastr.success("退出成功");
        setTimeout(function(){
          window.location.href = window.location.href;
        },3000);
      }
    });
  });

  $('.delgroup').on('click', function(){
    var id = this.getAttribute('group-id');
    $.ajax({
      url: "/groups/delete/"+id,
      type: "POST",
      success: function(response) {
        if(response=="ok"){
          toastr.success("刪除成功");
          setTimeout(function(){
            window.location.href = window.location.href;
          },3000);
        }
      }
    });
  });
});
</script>
