<% layout('../public/layout') %>
<!-- <div class="head">
  <h1>Group</h1>
  <h2>It’s not just about connecting people with people, but also people with ideas, people with opportunities.</h2>
  <a class="ui button searchbtn">search</a>
</div>
<div class="ui special cards">
  <% for(var i in groups){ %>
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <div class="ui primary button info" group-id="<%= groups[i]._id %>">Info</div>
            </div>
          </div>
        </div>
        <% if(groups[i].hasCover == 1){ %>
        <img src="/uploads/group/<%= groups[i]._id %>/logo.png">
        <% }else {%>
        <img src="/assets/images/group.png">
        <% } %>
      </div>
      <div class="content">
        <a class="header"><%= groups[i].Name %></a>
        <div class="meta">
          <span class="date">Type: <%= groups[i].Type %></span>
        </div>
      </div>
      <div class="extra content">
        <a><i class="users icon"></i>
          <%= groups[i].MemberID.length %> members
        </a>
      </div>
    </div>
  <% } %>
</div>
<div class="ui modal">
</div> -->

<script type="text/javascript" src="/assets/js/group.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/group_main.css">
<link rel="stylesheet" type="text/css" href="/assets/css/group_float.css">

<div id="fullpage">
  <div class="main_page">
    <div class="section" id="group_intro">
      <div id="intro_left">
        <h1>Group</h1>
        <p>C-Hub is a creative space came about from the interconnection among
          Creativity, Human, Urban, and Building Environment.</p>
        <div class="space"></div>
        <!-- 暫時不開放search -->
        <!-- <img id="you_can" src="/assets/images/you_can.png">
        <a href="#" id="search">　</a> -->
      </div>
      <div id="intro_right">
        <img class="main_round_pic" src="/assets/images/group_round.png">
      </div>
    </div>
    <div class="section" id="group_view">

    </div>
    <div class="section" id="footer">
      <% include ../public/footer %>
    </div>
  </div>
</div>

<div class="float_window">
</div>

<script>
$(document).ready(function(){
<% if(id !== undefined){ %>
  $('.primary.info[group-id=<%= id %>]').trigger('click');
<% } %>
});
</script>
