<% layout('../public/layout') %>
<div class="head">
  <h1>Group</h1>
  <h2>C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Buidling Environment.</h2>
  <a class="ui button searchbtn">search</a>
  <a class="ui button"  href="/groups/new">Create</a>
</div>
<div class="ui special cards">
  <% for(var i in groups){ %>
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <div class="ui primary button info" group-id="<%= groups[i]._id %>">Info</div>
            </div>
          </div>
        </div>
        <% if(groups[i].hasCover == 1){ %>
        <img src="/uploads/group/<%= groups[i]._id %>/logo.png">
        <% }else {%>
        <img src="/assets/images/group.png">
        <% } %>
      </div>
      <div class="content">
        <a class="header"><%= groups[i].Name %></a>
        <div class="meta">
          <span class="date">Type: <%= groups[i].Type %></span>
        </div>
      </div>
      <div class="extra content">
        <a><i class="users icon"></i>
          <%= groups[i].MemberID.length %> members
        </a>
      </div>
    </div>
  <% } %>
</div>
<div class="ui modal">
</div>

<script>
$(document).ready(function(){
<% if(id !== undefined){ %>
  console.log('click trigger');
  $('.primary.info[group-id=<%= id %>]').trigger('click');
<% } %>
});
</script>
