<% layout('../public/layout') %>
<!-- <div class="head">
  <h1>Group</h1>
  <h2>It’s not just about connecting people with people, but also people with ideas, people with opportunities.</h2>
  <a class="ui button searchbtn">search</a>
</div>
<div class="ui special cards">
  <% for(var i in groups){ %>
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <div class="ui primary button info" group-id="<%= groups[i]._id %>">Info</div>
            </div>
          </div>
        </div>
        <% if(groups[i].hasCover == 1){ %>
        <img src="/uploads/group/<%= groups[i]._id %>/logo.png">
        <% }else {%>
        <img src="/assets/images/group.png">
        <% } %>
      </div>
      <div class="content">
        <a class="header"><%= groups[i].Name %></a>
        <div class="meta">
          <span class="date">Type: <%= groups[i].Type %></span>
        </div>
      </div>
      <div class="extra content">
        <a><i class="users icon"></i>
          <%= groups[i].MemberID.length %> members
        </a>
      </div>
    </div>
  <% } %>
</div>
<div class="ui modal">
</div> -->

<script type="text/javascript" src="/assets/js/group.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/group_main.css">
<link rel="stylesheet" type="text/css" href="/assets/css/group_float.css">

<link rel="stylesheet" type="text/css" href="/assets/css/swiper.min.css">

<script type="text/javascript" src="/assets/js/swiper.min.js"></script>

<div id="fullpage">
  <div class="main_page">
    <div class="section" id="group_intro">
      <div id="intro_left">
        <h1>Group</h1>
        <p>It’s not just about connecting people with people, but also people with ideas, people with opportunities.</p>
        <div class="space"></div>
        <!-- 暫時不開放search -->
        <!-- <img id="you_can" src="/assets/images/you_can.png">
        <a href="#" id="search">　</a> -->
      </div>
      <div id="intro_right">
        <img class="main_round_pic" src="/assets/images/group_round.png">
      </div>
    </div>
    <div class="section no_menu" id="group_view">
			 <p class="page_title">Group</p>
			<div id="preview_control">
				<div class="sort_box">
					<a class="sort_way now" id="sort_hot">HOT</a>
					<a class="sort_way" id="sort_time">TIME</a>
				</div>
				<div class="go_box">
					<div class="go_to prev"></div>
					<div class="go_to next"></div>
				</div>
			</div>
			<div id="group_list">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide fake"></div>
						<% for (var i in groups) {%>
							<div class="swiper-slide group_item" group-id="<%= groups[i]._id %>">
								<div class="preview_pic auto_adjust not_yet">
									<img src="uploads/group/<%= groups[i]._id %>/logo.png">
								</div>
								<div class="preview_more"></div>
								<p class="preview_title"><%= groups[i].Name %></p>
								<p class="preview_class"><%= groups[i].Type %></p>
							</div>
						<% } %>
						<% for (var i in groups) {%>
							<div class="swiper-slide group_item">
								<div class="preview_pic auto_adjust not_yet">
									<img src="uploads/group/<%= groups[i]._id %>/logo.png">
								</div>
								<div class="preview_more"></div>
								<p class="preview_title"><%= groups[i].Name %></p>
								<p class="preview_class"><%= groups[i].Type %></p>
							</div>
						<% } %>
					</div>
				</div>
			</div>
    </div>
    <div class="section" id="footer">
      <% include ../public/footer %>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
<% if(id !== undefined){ %>
  $('.primary.info[group-id=<%= id %>]').trigger('click');
<% } %>
});
</script>
