<link rel="stylesheet" type="text/css" href="/assets/css/group_float.css">
<link rel="stylesheet" type="text/css" href="/assets/css/swiper.min.css">
<script type="text/javascript" src="/assets/js/swiper.min.js"></script>

<script type="text/javascript" src="/assets/js/gallery_all.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/gallery.css">

<div class="dark_mask"></div>

<div id="detail_left">
	<div id="group_name">
		<p class="title">Name /</p>
		<p class="name"><%= group.Name %></p>
	</div>
	<div class="share_icons">
		<img src="assets/images/share_fb.png">
		<img src="assets/images/share_twitter.png">
		<img src="assets/images/share_ig.png">
		<img src="assets/images/share_wp.png">
	</div>
	<div id="detail_brief">
		<div class="brief_pic auto_adjust not_yet">
			<img src="uploads/group/<%= group._id %>/logo.png">
		</div>
		<p class="name"><%= group.Name %></p>
		<p class="sub_name">卓彥廷</p>
		<a href="#" id="text_me">　</a>
	</div>
</div>

<div class="with_scroll" id="detail_right">
	<p>　</p>
	<p id="detail_Administrator">
		<p class="title">Administrator</p>
		<span>/</span>
		<p class="short"></p>
		<p id="detail_type">
			<p class="title">Type</p>
			<span>/</span>
			<p class="short"><%= group.Type %></p>
		</p>
		<p id="detail_intro">
			<p class="title with_space">Introduction</p>
			<span>/</span>
			<p class="long"><%= group.Description %></p>

		<p id="detail_teammate">
      <p class="title">Member</p>
      <span>/</span>
      <p class="short">
        <br>
        <% for(var i in members){ %>
          <a class="openInfo" type="users" id="<%= members[i]._id %>"><%= members[i].Name %></a>
          <% if(i != members.length - 1) {%> , <% } %>
        <% } %>
      </p>
    </p>
		<p id="detail_project">
			<p class="title with_space">Project</p>
			<span>/</span>
			<p class="long">
				<a>123123</a>
				<br/>
				<a>123123</a>
				<br/>
				<a>123123</a>
			</p>
		</p>
		<p id="detail_activity">
			<p class="title with_space">Activity</p>
			<span>/</span>
			<p class="long">
				<a>123123</a>
				<br/>
				<a>123123</a>
				<br/>
				<a>123123</a>
			</p>
		</p>
</div>

<div class="bottom_icons">
	<div class="round_icon join"></div>
	<div class="round_icon interest"></div>
	<div class="round_icon share"></div>
	<div class="round_icon text"></div>
</div>

<a href="#" class="close_icon" id="close_window">　</a>
<div class="float_pic_window">
	<div class="gallery" style="background: transparent;">
		<div class="swiper-container">
			<div class="swiper-wrapper">
					<div class="swiper-slide">
							<img onclick="window.open('/uploads/group/<%= group._id %>/logo.png?<%= new Date().getTime() %>')" src="/uploads/group/<%= group._id %>/logo.png?<%= new Date().getTime() %>">
					</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
		<!-- <div class="close_icon" id="close_gallery"></div> -->
	</div>
</div>

<script>
$("document").ready(function(){
  $('.joinGroup').on('click', function(){
    var id = this.getAttribute('group-id');
    $.ajax({
      url: "/groups/join/",
      type: "POST",
      data:{
        group_id:id
      },
      success: function(response) {
        toastr.success("申請成功");
        setTimeout(function(){
          window.location.href = window.location.href;
        },3000);
      }
    });
  });

  $('.quitGroup').on('click', function(){
    var id = this.getAttribute('group-id');
    $.ajax({
      url: "/groups/quit/",
      type: "POST",
      data:{
        group_id:id
      },
      success: function(response) {
        toastr.success("退出成功");
        setTimeout(function(){
          window.location.href = window.location.href;
        },3000);
      }
    });
  });

  $('.delGroup').on('click', function(){
    var id = this.getAttribute('group-id');
    $.ajax({
      url: "/groups/delete/"+id,
      type: "DELETE",
      success: function(response) {
        if(response=="ok"){
          toastr.success("刪除成功");
          setTimeout(function(){
            window.location.href = window.location.href;
          },3000);
        }
      }
    });
  });
});
</script>
