<% layout('../public/layout') %>
<link rel="stylesheet" type="text/css" href="/assets/css/group_float_mobile.css">
<link rel="stylesheet" type="text/css" href="/assets/css/swiper.min.css">
<script type="text/javascript" src="/assets/js/swiper.min.js"></script>

<script type="text/javascript" src="/assets/js/gallery_all.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/gallery.css">

<div class="float_window">
  <div id="detail_left">
    <div id="detail_brief" >
      <div class="brief_pic">
        <img id="project_pic" src="/uploads/user/<%= user.id %>/avatar.png?<%= new Date().getTime() %>">
      </div>
      <p class="project_name"><%= user.Name %>
      </p>

      <p id="detail_main_text"> 
		    <div id="sharing_btn_set">
		        <a class="sharing_btn" id="share_fb"></a>
		        <a class="sharing_btn" id="share_twitter"></a>
		        <a class="sharing_btn" id="share_ig"></a>
		        <a class="sharing_btn" id="share_wp"></a>
		    </div>
      </p>
    </div>
  </div>
  <div id="detail_right">
    <div id="detail_Major">
      <p class="title">Major</p>
      <span>/</span>
      <br>
      <p class="short orange"><%= user.Major %></p>
    </div>
    <div id="detail_Skill">
      <p class="title">Skill</p>
      <span>/</span>
      <br>
      <p class="short orange"><%= user.Skill %></p>
    </div>
    <div id="detail_location">
      <p class="title">Location</p><span>/</span>
      <br>
      <p class="short orange"><%= user.Location %></p>
      <div class="botton tiny" onclick="window.open('https://www.google.com.tw/maps/search/<%= user.Location %>')">MAP</div>
    </div>
    <div id="detail_intro">
      <p class="title with_space">Introduction</p>
      <span>/</span>
      <br>
      <p class="long"><%- user.Introduction.replace(/\r\n/g, '<br/>').replace(/\s/g, '') %>
      </p>
    </div>
    <div id="detail_projects">
      <p class="title">projects</p>
      <span>/</span>
      <br>
      <p class="short"></p>
    </div>
    <div id="detail_activities">
      <p class="title">Activities</p>
      <span>/</span>
      <br>
      <p class="short"></p>
    </div>
  </div>
  <div class="float_pic_window">
		<div class="gallery" style="background: transparent;">
			<div class="swiper-container">
				<div class="swiper-wrapper">
						<div class="swiper-slide">
								<img src="/uploads/user/<%= user._id %>/logo.png?<%= new Date().getTime() %>">
						</div>

				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
			<div class="close_icon" id="close_window"></div>
		</div>
    <!-- <a href="#" class="close_icon" id="close_pic_view">　</a> -->
  </div>
  <% include ../public/footer %>
  <div class="space"></div>
</div>



<script>
$(window).on('load', function(){
  var inner_pic_size = $("#project_pic").css("width").replace("px","") / $( "#project_pic" ).css("height").replace("px","") ;
  var outer_div_size = 25/35 ;
  if ( inner_pic_size > outer_div_size ) {
      $("#project_pic").addClass("fat");
  }
  else {
      $("#project_pic").addClass("tall");
  }
});

function autoAdjust( outer_div ) {
  var inner_pic_size = outer_div.children("img").css("width").replace("px","") / outer_div.children("img").css("height").replace("px","") ;
  var outer_div_size = outer_div.css("width").replace("px","") / outer_div.css("height").replace("px","") ;
  if ( inner_pic_size > outer_div_size ) {
		outer_div.addClass("fat");
		outer_div.removeClass("not_yet");
  }
  else if ( inner_pic_size <= outer_div_size ) {
		outer_div.addClass("tall");
		outer_div.removeClass("not_yet");
  }
}

</script>
