<!-- 活動管理 -->
<div class="right_manageBoard" id="backstage_activities_manage">
  <div class="fliter_button">
    <div class="ui selection dropdown" style="float:left;">
      <input type="hidden" name="gender">
      <i class="dropdown icon"></i>
      <div class="default text">All type</div>
      <div class="menu">
        <div class="item" data-value="0">已上架</div>
        <div class="item" data-value="1">待審核</div>
        <div class="item" data-value="2">workshop</div>
        <div class="item" data-value="3">forum</div>
        <div class="item" data-value="4">exhibition</div>
        <div class="item" data-value="5">conference</div>
        <div class="item" data-value="6">competition</div>
      </div>
    </div>
    <!-- <% if(me.Role == 3){ %>
      <button class="ui basic button openPage" style="float: right;" openPage="backstage_activities_new">
        Create
      </button>
    <% } %> -->
  </div>
  <table class="ui basic table">
    <tbody>
      <tr>
        <td>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label></label>
          </div>
        </td>
        <!-- <td>Photo</td> -->
        <td>Name</td>
        <td>Date</td>
        <td>number</td>
        <td>Status</td>
        <td></td>
      </tr>
      <% if(activities.length > 0){ %>
        <% for(var i in activities){ %>
        <tr activities="<%= activities[i]._id %>">
          <td>
            <div class="ui checkbox">
              <input type="checkbox" name="example">
              <label></label>
            </div>
          </td>
          <!-- <td>photo</td> -->
          <td><%= activities[i].Name %></td>
          <td><%= activities[i].Time %></td>
          <td><%= activities[i].MemberID.length %></td>
          <td>
            <% if(activities[i].Status == 0){ %>已送審
            <% }else if (activities[i].Status == 1){ %> 已上架
            <% }else{ %> 已下架
            <% } %>
          </td>
          <td>
            <!-- <button class="mini ui basic button">下架</button> -->
            <!-- <button class="mini ui basic button">複製</button> -->
            <button class="mini ui basic button openPage" openPage="<%= activities[i]._id %>">管理</button>
            <button class="mini ui basic button deleteObj" types="activities" activities="<%= activities[i]._id %>">刪除</button>
          </td>
        </tr>
        <% } %>
      <% }else{ %>
        <!-- <tr>
          <td>
            <div class="ui checkbox">
               <input type="checkbox" name="example">
               <label></label>
            </div>
          </td>
          <td>photo</td>
          <td>Jamie Harington</td>
          <td>skill</td>
          <td>skill</td>
          <td>
            <div class="ui selection dropdown" style="min-width: 30px">
              <input type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text">PM</div>
              <div class="menu">
                <div class="item" data-value="1">Male</div>
                <div class="item" data-value="0">Female</div>
              </div>
            </div>
          </td>
          <td>
            <button class="mini ui basic button">下架</button>
            <button class="mini ui basic button">複製</button>
            <button class="mini ui basic button">編輯</button>
            <button class="mini ui basic button">刪除</button>
          </td>
        </tr> -->
        <td colspan="7"><p class="textcenter" style="text-align: center;">沒有可管理的 Activity</p></td>
      <% } %>
    </tbody>
  </table>
</div>

<!-- 新增活動 -->
<div class="right_tabBoard" id="backstage_activities_new">
  <div class="ui top attached tabular menu" style="">
    <a class="active item" data-tab="activities_create_info" style="border-radius: 0px !important;">活動資訊</a>
    <a class="item" data-tab="activities_create_media"  style="border-radius: 0px !important;">專案影音</a>
    <div style="position: absolute; right: 0px; padding: 5px;">
      <!-- <button class="mini ui basic button">儲存</button> -->
      <button class="mini ui basic button newObj" types="activities">提交</button>
    </div>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="activities_create_info">
    <form class="ui form newForm">
      <div class="field">
        <label>Activity Name</label>
        <input type="text" name="Name" placeholder="Name">
      </div>
      <div class="three fields">
        <div class="field">
          <label>BigTitle1</label>
          <input type="text" name="BigTitle" value="">
        </div>
        <div class="field">
          <label>BigTitle2</label>
          <input type="text" name="BigTitle" value="">
        </div>
        <div class="field">
          <label>BigTitle3</label>
          <input type="text" name="BigTitle" value="">
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>SmallTitle1</label>
          <input type="text" name="SmallTitle" value="">
        </div>
        <div class="field">
          <label>SmallTitle2</label>
          <input type="text" name="SmallTitle" value="">
        </div>
        <div class="field">
          <label>SmallTitle3</label>
          <input type="text" name="SmallTitle" value="">
        </div>
      </div>
      <div class="field">
        <label>Time table</label>
        <input type="text" name="Time" placeholder="ex: 8/3-8/5">
      </div>
      <div class="three fields">
        <div class="field">
          <label>Location</label>
          <input type="text" name="Location" placeholder="Location">
        </div>
        <div class="field">
          <label>Type</label>
          <div class="ui selection dropdown">
            <input type="hidden" name="Type" value="">
            <i class="dropdown icon"></i>
            <div class="default text"></div>
            <div class="menu">
              <div class="item" data-value="workshop">workshop</div>
              <div class="item" data-value="forum">forum</div>
              <div class="item" data-value="exhibiion">exhibiion</div>
              <div class="item" data-value="conference">conference</div>
              <div class="item" data-value="competition">competition</div>
            </div>
          </div>           
        </div>
        <div class="field">
          <label>Admin</label>   
            <div class="ui fluid search selection dropdown selectAdmin">
              <input type="hidden" name="admin" />
              <i class="dropdown icon"></i>
              <div class="default text">Select a Admin</div>
              <div class="menu"></div>
            </div> 
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>Fee</label>
          <input type="text" name="Fee" placeholder="">
        </div>
        <div class="field">
          <label>Identity</label>
          <div class="ui selection dropdown">
            <input type="hidden" name="Role" value="anyone">
            <i class="dropdown icon"></i>
            <div class="default text">anyone</div>
            <div class="menu">
              <div class="item" data-value="anyone">anyone</div>
              <div class="item" data-value="only NCKU student">only NCKU student</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Credit</label>
          <input type="text" name="Credit" placeholder="">
        </div>
      </div>
      <!-- <div class="field">
        <label>News</label>
        <div class="two fields">
          <div class="ui field labeled input">
            <div class="ui label">
              Title
            </div>
            <input type="text" placeholder="News title">
          </div>
          <div class="ui field labeled input">
            <div class="ui label">
              http://
            </div>
            <input type="text" placeholder="mysite.com">
          </div>
        </div>
      </div>
      <div class="field">
        <i class="add circle icon"></i>
      </div> -->
      <div class="field">
        <label>Mission</label>
        <input type="text" name="Mission" placeholder="">
      </div>
      <div class="field">
        <label>Contributor</label>
        <input type="text" name="Contributor" placeholder="">
      </div>
      <div class="field">
        <label>Introduction</label>
        <textarea name="Introduction" value=""></textarea>
      </div>
    </form>
  </div>
  <div class="ui bottom attached tab segment" data-tab="activities_create_media" style="color: black;">
    <!-- <label>活動照片</label>
    <br>
    <div style="border: dashed 1px black; height: 150px; display: flex; justify-content: center;">
      <button class="mini ui basic button">+ 新增圖片/影片</button>
    </div> -->
    <form class="ui form newCoverForm">
      <div class="field">
        <div class="errormsg"></div>
      </div>
      <div class="field">
        <label>活動照片</label>
        <input type="file" name="cover" style="border: dashed 1px black; height: 150px; display: flex; justify-content: center;">
      </div>
    </form>
  </div>
</div>

<!-- 活動編輯 -->
<% for(var i in activities){ %>
  <div class="right_tabBoard" id="<%= activities[i]._id %>">
    <div class="ui top attached tabular menu" style="">
      <a class="active item" data-tab="activities_edit_info" style="border-radius: 0px !important;">活動資訊</a>
      <a class="item" data-tab="activities_edit_logo"  style="border-radius: 0px !important;">活動封面</a>
      <a class="item" data-tab="activities_edit_media"  style="border-radius: 0px !important;">活動照片</a>
      <div style="position: absolute; right: 0px; padding: 5px;">
        <!-- <button class="mini ui basic button">儲存</button> -->
        <button class="mini ui basic button updateObj" types="activities" activities="<%= activities[i]._id %>">儲存</button>
      </div>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="activities_edit_info">
      <form class="ui form editForm">
        <div class="field">
          <label>Activity Name</label>
          <input type="text" name="Name" value="<%= activities[i].Name %>">
        </div>
        <div class="three fields">
          <div class="field">
            <label>BigTitle1</label>
            <input type="text" name="BigTitle" value="<%= activities[i].BigTitle[0] %>">
          </div>
          <div class="field">
            <label>BigTitle2</label>
            <input type="text" name="BigTitle" value="<%= activities[i].BigTitle[1] %>">
          </div>
          <div class="field">
            <label>BigTitle3</label>
            <input type="text" name="BigTitle" value="<%= activities[i].BigTitle[2] %>">
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <label>SmallTitle1</label>
            <input type="text" name="SmallTitle" value="<%= activities[i].SmallTitle[0] %>">
          </div>
          <div class="field">
            <label>SmallTitle2</label>
            <input type="text" name="SmallTitle" value="<%= activities[i].SmallTitle[1] %>">
          </div>
          <div class="field">
            <label>SmallTitle3</label>
            <input type="text" name="SmallTitle" value="<%= activities[i].SmallTitle[2] %>">
          </div>
        </div>
        <div class="field">
          <label>Time table</label>
          <input type="text" name="Time" value="<%= activities[i].Time %>">
        </div>
        <div class="two fields">
          <div class="field">
            <label>Location</label>
            <input type="text" name="Location" value="<%= activities[i].Location %>">
          </div>
          <div class="field">      
            <label>Type</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="Type" value="<%= activities[i].Type %>">
              <i class="dropdown icon"></i>
              <div class="default text"><%= activities[i].Type %></div>
              <div class="menu">
                <div class="item" data-value="workshop">workshop</div>
                <div class="item" data-value="forum">forum</div>
                <div class="item" data-value="exhibiion">exhibiion</div>
                <div class="item" data-value="conference">conference</div>
                <div class="item" data-value="competition">competition</div>
              </div>
            </div>   
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <label>Fee</label>
            <input type="text" name="Fee" value="<%= activities[i].Fee %>">
          </div>
          <div class="field">
            <label>Role</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="Role" value="<%= activities[i].Role %>">
              <i class="dropdown icon"></i>
              <div class="default text"><%= activities[i].Role %></div>
              <div class="menu">
                <div class="item" data-value="anyone">anyone</div>
                <div class="item" data-value="only NCKU student">only NCKU student</div>
              </div>
            </div>
            
              <!-- <select class="ui fluid dropdown" name="Role" value="<%= activities[i].Role %>">
                <option value=""><%= activities[i].Role %></option>
                <option value="none">none</option>
                <option value="NCKU">only NCKU student</option>
              </select>     -->    
          </div>
          <div class="field">
            <label>Credit</label>
            <input type="text" name="Credit" value="<%= activities[i].Credit %>">
          </div>
        </div>
        <div class="field">
          <label>Mission</label>
          <input type="text" name="Mission" value="<%= activities[i].Mission %>">
        </div>
        <div class="field">
          <label>Contributor</label>
          <input type="text" name="Contributor" value="<%= activities[i].Contributor %>">
        </div>
        <div class="field">
          <label>Introduction</label>
          <textarea name="Introduction" value=""><%= activities[i].Introduction %></textarea>
        </div>
      </form>
    </div>
    <div class="ui bottom attached tab segment" data-tab="activities_edit_logo" style="color: black;">
      <!-- <label>活動照片</label>
      <br>
      <div style="border: dashed 1px black; height: 150px; display: flex; justify-content: center;">
        <button class="mini ui basic button">+ 新增圖片/影片</button>
      </div> -->
      <form class="ui form editCoverForm">
        <div class="field">
          <div class="errormsg"></div>
        </div>
        <div class="field">
          <label>活動封面</label>
          <input type="file" name="cover" style="border: dashed 1px black; height: 150px; display: flex; justify-content: center;">
        </div>
        <div class="ui centered card" style="width: 300px; height: 300px">
          <div class="blurring dimmable image" style="width: 300px; height: 300px">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a href="/uploads/activity/<%= activities[i]._id %>/logo.png" target="_blank"><div class="ui inverted button">show</div></a>
                </div>
              </div>
            </div>
            <img style="width: 300px; height: 300px" src="/uploads/activity/<%= activities[i]._id %>/logo.png">
          </div>
        </div>
      </form>
    </div>
    <div class="ui bottom attached tab segment" data-tab="activities_edit_media">
      <form class="ui form updatephoto">
        <div class="field">
          <div class="errormsg"></div>
        </div>
        <div class="field">
          <label>活動照片集</label>
          <input type="file" name="photo" style="border: dashed 1px black; height: 150px; display: flex; justify-content: center;">
        </div>
        <div class="ui photoUpload button" types="activities" activities="<%= activities[i]._id %>" style="color: black;">Upload</div>
        <br>
        <br>
        <div class="ui special cards">
          <% for(var j = 0; j < activities[i].Photo.length; j++){ %>
            <div class="card" style="width: 180px; height: 180px" photoIndex="<%= j %>">
              <div class="blurring dimmable image" style="width: 180px; height: 180px">
                <div class="ui dimmer">
                  <div class="content">
                    <div class="center">
                      <a href="<%= activities[i].Photo[j] %>" target="_blank"><div class="ui inverted button">show</div></a>
                      <div class="ui inverted button deletePhoto" types="activities" activities="<%= activities[i]._id %>" photoIndex="<%= j %>">delete</div>
                    </div>
                  </div>
                </div>
                <img style="width: 180px; height: 180px" src="<%= activities[i].Photo[j] %>">
              </div>
            </div>
          <% } %>
        </div>
      </form>
      
      <!-- <form class="ui form editCoverForm">
        <div class="field">
          <div class="errormsg"></div>
        </div>
        <img src="/uploads/activity/<%= activities[i]._id %>/logo.png">
        <div class="field">
          <label>專案照片集</label>
          <input type="file" name="cover" style="border: dashed 1px black; height: 150px; display: flex; justify-content: center;">
        </div>
      </form> -->
    </div>
  </div>
<% } %>

<!-- js部分 -->
<% include ./activities_js %>

<script>
$(document).ready(function(){
  $('.delGroup').on('click', function(){
    var id = this.getAttribute('group-id');
    $.ajax({
      url: "/groups/delete/"+id,
      type: "DELETE",
      success: function(response) {
        if(response=="ok"){
          toastr.success("刪除成功");
          $("."+id).remove();
        }
      }
    });
  });
});
</script>
