<% layout('../public/adminlayout') %>
<h1 class="textcenter">Group 總覽</h1>
<table class="ui unstackable table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Members</th>
      <th>Setting</th>
    </tr>
  </thead>
  <tbody>
  <% if(groups.length>0){ %>
    <% for(var i in groups){ %>
      <tr class="<%= groups[i]._id %>">
        <td><%= groups[i].Name %></td>
        <td><%= groups[i].Type %></td>
        <td><%= groups[i].MemberID.length %> members</td>
        <td>
          <a class="ui green button" href="/groups/<%= groups[i]._id %>/projects/new">Create Project</a>
          <a class="ui green button" href="/groups/<%= groups[i]._id %>/activities/new">Create Activity</a>
          <div class="ui primary button info" group-id="<%= groups[i]._id %>">Info</div>
          <div class="ui red button delGroup" group-id="<%= groups[i]._id %>">Delete</div>
          <a class="ui green button" href="/groups/edit/<%= groups[i]._id %>">Edit</a>
          <a class="ui green button" href="/groups/<%= groups[i]._id %>/apply">Apply</a>
        </td>
      </tr>
    <% } %>
  <% }else{ %>
    <tr><td colspan="4"><p class="textcenter">沒有可管理的 Group</p></td></tr>
  <% } %>
  </tbody>
</table>
<div class="ui modal">
</div>

<script>
$(document).ready(function(){
  $('.delGroup').on('click', function(){
    var id = this.getAttribute('group-id');
    $.ajax({
      url: "/groups/delete/"+id,
      type: "DELETE",
      success: function(response) {
        if(response=="ok"){
          toastr.success("刪除成功");
          $("."+id).remove();
        }
      }
    });
  });
});
</script>
