<h3>Admin</h3>
<div class="ui divider"></div>
<div class="ui cards" >
    <div class="card" style="display: flex; flex-direction: inherit; height: 130; width: 330px">
      <div style="display: flex; align-items: center;background-color: rgba(117, 124, 133, 1);">
        <img style="width:130px; height: 130px;" src="/assets/images/molly.png">
      </div>
      <div class="content" style="position: relative;">
        <div class="header"><%= me.Name %></div>
        <div class="meta"><% if(me.Major !== undefined){ %><%= me.Major %><%}%></div>
        <div class="description">
          <% for(var j = 0; j < me.Skill.length; j++){ %>
            <%= me.Skill[j] %><br> 
          <% } %>
        </div>
        <!-- <div style="position: absolute; top: 5px; right: 5px;">
          <button class="mini ui basic button" style="height: 30px; width: 60px; padding: 0px;">info</button>
        </div> -->
      </div>
    </div>
</div>
<br>
<h3>Apply Members</h3>
<div class="ui divider"></div>
<div class="ui cards" >
  <% for(var i in applyer){ %>
    <div class="card" style="display: flex; flex-direction: inherit; height: 130; width: 330px" users="<%= applyer[i]._id %>">
      <div style="display: flex; align-items: center;background-color: rgba(117, 124, 133, 1);">
        <img style="width:130px; height: 130px;" src="/assets/images/molly.png">
      </div>
      <div class="content" style="position: relative;">
        <div class="header"><%= applyer[i].Name %></div>
        <div class="meta"><% if(applyer[i].Major !== undefined){ %><%= applyer[i].Major %><%}%></div>
        <div class="description">
          <% for(var j = 0; j < applyer[i].Skill.length; j++){ %>
            <%= applyer[i].Skill[j] %><br> 
          <% } %>
        </div>
        <!-- <div style="position: absolute; top: 5px; right: 5px;">
          <button class="mini ui basic button" style="height: 30px; width: 60px; padding: 0px;">info</button>
        </div> -->
        <br>
        <button class="ui left attached button acceptButton" users="<%= applyer[i]._id %>">Accept</button>
        <button class="right attached ui button rejectButton" users="<%= applyer[i]._id %>">Reject</button>
      </div>
    </div>
  <% } %>
</div>
<br>
<h3>Members</h3>
<div class="ui divider"></div>
<div class="ui cards" >
  <% for(var i in members){ %>
    <div class="card" style="display: flex; flex-direction: inherit; height: 130; width: 330px" users="<%= members[i]._id %>">
      <div style="display: flex; align-items: center;background-color: rgba(117, 124, 133, 1);">
        <img style="width:130px; height: 130px;" src="/assets/images/molly.png">
      </div>
      <div class="content" style="position: relative;">
        <div class="header"><%= members[i].Name %></div>
        <div class="meta"><% if(members[i].Major !== undefined){ %><%= members[i].Major %><%}%></div>
        <div class="description">
          <% for(var j = 0; j < members[i].Skill.length; j++){ %>
            <%= members[i].Skill[j] %><br> 
          <% } %>
        </div>
        <!-- <div style="position: absolute; top: 5px; right: 5px;">
          <button class="mini ui basic button" style="height: 30px; width: 60px; padding: 0px;">info</button>
        </div> -->
        <br>
        <select class="ui fluid dropdown editPosition" style=" font-size: 10px !important;">
          <option value="--職位--">--職位--</option>
          <option value="人類學家observer">人類學家observer</option>
          <option value="實驗家inventor<">實驗家inventor</option>
          <option value="異花授粉者connector">異花授粉者connector</option>
          <option value="跨欄運動員runner">跨欄運動員runner</option>
          <option value="共同合作者coordinator">共同合作者coordinator</option>
          <option value="導演director">導演director</option>
          <option value="舞台建造師designer">舞台建造師designer</option>
          <option value="看護人carer">看護人carer</option>
          <option value="說書人teller">說書人teller</option>
          <option value="體驗建築師builder">體驗建築師builder</option>
        </select>
      </div>
    </div>
  <% } %>
</div>

<script type="text/javascript">
  // function memberLisener(){
  //   $('.ui.dropdown').dropdown();
  // }
  // memberLisener();
  $(document).ready(function() {
    // 許可申請者
    $('.acceptButton').on('click', function(){
      var id = this.getAttribute('users');
      $.ajax({
        url: "/projects/<%= project._id %>/addMember/"+id,
        type: "POST",
        success: function(response) {
          if(response=="ok"){
            toastr.success("成功批准");
            // $('.ui.modal.' + id).modal('hide');
            $('div[users="' + id + '"]' + ' button').remove();
            var selector = '<select class="ui fluid dropdown" style=" font-size: 10px !important;"><option value="--職位--">--職位--</option><option value="人類學家observer">人類學家observer</option><option value="實驗家inventor<">實驗家inventor</option><option value="異花授粉者connector">異花授粉者connector</option><option value="跨欄運動員runner">跨欄運動員runner</option><option value="共同合作者coordinator">共同合作者coordinator</option><option value="導演director">導演director</option><option value="舞台建造師designer">舞台建造師designer</option><option value="看護人carer">看護人carer</option><option value="說書人teller">說書人teller</option><option value="體驗建築師builder">體驗建築師builder</option></select>';
            $('div[users="' + id + '"]' + ' .content').append(selector);
            $('div[users="' + id + '"]').appendTo('#<%= project._id %> .cards:eq(2)');
            memberLisener();
          }
        }
      });
    })

    // 拒絕申請者
    $('.rejectButton').on('click', function(){
      var id = this.getAttribute('users');
      $.ajax({
        url: "/projects/<%= project._id %>/delMember/"+id,
        type: "POST",
        success: function(response) {
          if(response=="ok"){
            toastr.success("成功拒絕");
            // $('.ui.modal.' + id).modal('hide');
            $('div[users="' + id + '"]').remove();
          }
        }
      });
    })

    // 更新member職位
    $('.editPosition').dropdown({
      onChange: function(value, text, obj){
        var position = value;
        var userID = $(obj).parents()[3].getAttribute('users');
        var projectID = $(obj).parents()[6].getAttribute('id');
        // $.ajax({
        //   url: "/projects/" + projectID + "/editMember/" + userID + "/" + position,
        //   type: "POST",
        //   success: function(response) {
        //     if(response=="ok"){
        //       toastr.success("成功拒絕");
        //       // $('.ui.modal.' + id).modal('hide');
        //       $('div[users="' + id + '"]').remove();
        //     }
        //   }
        // });
      }
    })
  });
</script>