<h3>Admin</h3>
<div class="ui divider"></div>
<div class="ui cards" >
  <% for(var i in admins){ %>
    <div class="card" style="display: flex; flex-direction: inherit; height: 130; width: 330px">
      <div style="display: flex; align-items: center;background-color: rgba(117, 124, 133, 1);">
        <% if(admins[i].hasCover){ %>
          <img style="width:130px; height: 130px;" src="/uploads/user/<%= me._id %>/avatar.png">
        <% }else{ %>
          <img style="width:130px; height: 130px;" src="/assets/images/molly.png">
        <% } %>  
        <!-- <img style="width:130px; height: 130px;" src="/assets/images/molly.png"> -->
      </div>
      <div class="content" style="position: relative;">
        <div class="header"><%= admins[i].Name %></div>
        <div class="meta"><% if(admins[i].Major !== undefined){ %><%= admins[i].Major %><%}%></div>
        <div class="description">
          <% for(var j = 0; j < admins[i].Skill.length; j++){ %>
            <%= admins[i].Skill[j] %><br> 
          <% } %>
        </div>
        <!-- <div style="position: absolute; top: 5px; right: 5px;">
          <button class="mini ui basic button" style="height: 30px; width: 60px; padding: 0px;">info</button>
        </div> -->
      </div>
    </div>
  <% } %>
</div>
<br>
<h3>Apply Members</h3>
<div class="ui divider"></div>
<div class="ui cards" >
  <% for(var i in applyer){ %>
    <div class="card" style="display: flex; flex-direction: inherit; height: 130; width: 330px" users="<%= applyer[i]._id %>">
      <div style="display: flex; align-items: center;background-color: rgba(117, 124, 133, 1);">
        <% if(applyer[i].hasCover){ %>
          <img style="width:130px; height: 130px;" src="/uploads/user/<%= me._id %>/avatar.png">
        <% }else{ %>
          <img style="width:130px; height: 130px;" src="/assets/images/molly.png">
        <% } %>  
      </div>
      <div class="content" style="position: relative;">
        <div class="header"><%= applyer[i].Name %></div>
        <div class="meta"><% if(applyer[i].Major !== undefined){ %><%= applyer[i].Major %><%}%></div>
        <div class="description">
          <% for(var j = 0; j < applyer[i].Skill.length; j++){ %>
            <%= applyer[i].Skill[j] %><br> 
          <% } %>
        </div>
        <!-- <div style="position: absolute; top: 5px; right: 5px;">
          <button class="mini ui basic button" style="height: 30px; width: 60px; padding: 0px;">info</button>
        </div> -->
        <br>
        <button class="ui left attached button acceptButton" users="<%= applyer[i]._id %>">Accept</button>
        <button class="right attached ui button rejectButton" users="<%= applyer[i]._id %>">Reject</button>
      </div>
    </div>
  <% } %>
</div>
<br>
<h3>Members</h3>
<div class="ui divider"></div>
<div class="ui cards" >
  <% for(var i in members){ %>
    <div class="card" style="display: flex; flex-direction: inherit; height: 130; width: 330px" users="<%= members[i]._id %>">
      <div style="display: flex; align-items: center;background-color: rgba(117, 124, 133, 1);">
        <% if(members[i].hasCover){ %>
          <img style="width:130px; height: 130px;" src="/uploads/user/<%= me._id %>/avatar.png">
        <% }else{ %>
          <img style="width:130px; height: 130px;" src="/assets/images/molly.png">
        <% } %>  
        <!-- <img style="width:130px; height: 130px;" src="/assets/images/molly.png"> -->
      </div>
      <div class="content" style="position: relative;">
        <div class="header"><%= members[i].Name %></div>
        <div class="meta"><% if(members[i].Major !== undefined){ %><%= members[i].Major %><%}%></div>
        <div class="description">
          <% for(var j = 0; j < members[i].Skill.length; j++){ %>
            <%= members[i].Skill[j] %><br> 
          <% } %>
        </div>
        <!-- <div style="position: absolute; top: 5px; right: 5px;">
          <button class="mini ui basic button" style="height: 30px; width: 60px; padding: 0px;">info</button>
        </div> -->
        <br>
        <div class="ui selection dropdown editPosition" style=" font-size: 10px !important;">
          <input type="hidden" name="Type" value="--Position--">
          <i class="dropdown icon"></i>
          <div class="default text">--Position--</div>
          <div class="menu">
            <div class="item" data-value="observer">observer</div>
            <div class="item" data-value="inventor">inventor</div>
            <div class="item" data-value="connector">connector</div>
            <div class="item" data-value="runner">runner</div>
            <div class="item" data-value="coordinator">coordinator</div>
            <div class="item" data-value="director">director</div>
            <div class="item" data-value="designer">designer</div>
            <div class="item" data-value="connector">connector</div>
            <div class="item" data-value="carer">carer</div>
            <div class="item" data-value="teller">teller</div>
            <div class="item" data-value="builder">builder</div>
          </div>
        </div> 
      </div>
    </div>
  <% } %>
</div>

<script type="text/javascript">
  function memberLisener(){
    // 更新member職位
    $('.editPosition').dropdown({
      onChange: function(value, text, obj){
        var position = value;
        var userID = $(obj).parents()[3].getAttribute('users');
        var projectID = $(obj).parents()[6].getAttribute('id');
        // $.ajax({
        //   url: "/projects/" + projectID + "/editMember/" + userID + "/" + position,
        //   type: "POST",
        //   success: function(response) {

        //   }
        // });
      }
    })
  }
  memberLisener();
  $(document).ready(function() {
    // 許可申請者
    $('.acceptButton').on('click', function(){
      var id = this.getAttribute('users');
      $.ajax({
        url: "/projects/<%= project._id %>/addMember/"+id,
        type: "POST",
        success: function(response) {
          if(response=="ok"){
            toastr.success("成功批准");
            // $('.ui.modal.' + id).modal('hide');
            $('div[users="' + id + '"]' + ' button').remove();
            var selector = '<select class="ui fluid dropdown editPosition" style=" font-size: 10px !important;"><option value="--Position--">--Position--</option><option value="observer">observer</option><option value="inventor<">inventor</option><option value="connector">connector</option><option value="runner">runner</option><option value="coordinator">coordinator</option><option value="director">director</option><option value="designer">designer</option><option value="carer">carer</option><option value="teller">teller</option><option value="builder">builder</option></select>';
            $('div[users="' + id + '"]' + ' .content').append(selector);
            $('div[users="' + id + '"]').appendTo('#<%= project._id %> .cards:eq(2)');
            memberLisener();
          }
        }
      });
    })

    // 拒絕申請者
    $('.rejectButton').on('click', function(){
      var id = this.getAttribute('users');
      $.ajax({
        url: "/projects/<%= project._id %>/delMember/"+id,
        type: "POST",
        success: function(response) {
          if(response=="ok"){
            toastr.success("成功拒絕");
            // $('.ui.modal.' + id).modal('hide');
            $('div[users="' + id + '"]').remove();
          }
        }
      });
    })


  });
</script>