<% layout('../public/adminlayout') %>
<h1 class="textcenter">Project 總覽</h1>
<table class="ui unstackable table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Members</th>
      <th>Setting</th>
    </tr>
  </thead>
  <tbody>
  <% if(projects.length>0){ %>
    <% for(var i in projects){ %>
      <tr class="<%= projects[i]._id %>">
        <td><%= projects[i].Name %></td>
        <td><%= projects[i].Type %></td>
        <td><%= projects[i].MemberID.length %> members</td>
        <td>
          <div class="ui primary button info" project-id="<%= projects[i]._id %>">Info</div>
          <div class="ui red button delproject" project-id="<%= projects[i]._id %>">Delete</div>
          <a class="ui green button" href="/projects/edit/<%= projects[i]._id %>">Edit</a>
          <a class="ui green button" href="/projects/<%= projects[i]._id %>/apply">Apply</a>
        </td>
      </tr>
    <% } %>
  <% }else{ %>
    <tr><td colspan="4"><p class="textcenter">沒有可管理的 Project</p></td></tr>
  <% } %>
  </tbody>
</table>
<div class="ui modal">
</div>

<script>
$(document).ready(function(){
  $('.delproject').on('click', function(){
    var id = this.getAttribute('project-id');
    $.ajax({
      url: "/projects/delete/"+id,
      type: "DELETE",
      success: function(response) {
        if(response=="ok"){
          toastr.success("刪除成功");
          $("."+id).remove();
        }
      }
    });
  });
});
</script>
