<% layout('../public/layout') %>
<script type="text/javascript" src="/assets/js/project.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/project_main.css">
<link rel="stylesheet" type="text/css" href="/assets/css/project_float.css">

<div id="fullpage">
  <div class="main_page">
    <div class="section" id="project_intro">
    	<div id="intro_left">
    		<h1>Project</h1>
    		<p>Whichever chessboard you are in, just enjoy and play your role. </p>
    		<div class="space"></div>
        <!-- 搜尋暫時不開放 -->
    		<!-- <img id="you_can" src="/assets/images/you_can.png">
    		<a href="#" class="searchbtn" id="search"></a> -->
    	</div>
    	<div id="intro_right">
    		<img class="main_round_pic" src="/assets/images/project_round.png">
    	</div>
    </div>
    <div class="section no_menu" id="project_view">
    	<div id="project_list">
        <% for(var i in projects){ %>
    		<div class="project_item"  project-id="<%= projects[i]._id %>">
					<% if(projects[i].hasCover == 1){ %>
						<div class="auto_adjust not_yet">
						<img class="preview_pic" src="/uploads/project/<%= projects[i]._id %>/logo.png">
						</div>
					<% }else {%>
						<div class="auto_adjust not_yet">
						<img class="preview_pic" src="/assets/images/project_ex2.png">
						</div>
          <% } %>
    			<div class="preview_more"></div>
    			<p class="preview_title"><%= projects[i].Name %></p>
    			<p class="preview_class"><%= projects[i].Type %></p>
    			<% if (projects[i].Type == '文化生活') {%> <div class="icon culture"></div>
                <%} else if (projects[i].Type == '智慧科技與數位內容') {%> <div class="icon digital"></div>
                <%} else if (projects[i].Type == '創新與社會服務') {%> <div class="icon social"></div> <% } %>
    		</div>
        <% } %>
    	</div>
    	<div id="preview_control">
    		<a class="sort_way now" id="sort_hot">HOT</a>
    		<a class="sort_way" id="sort_time">TIME</a>
    		<div class="list_go" id="go_up"></div>
    		<div class="list_go" id="go_down"></div>
    	</div>
    </div>
		<div class="section no_menu" id="footer">
			<% include ../public/footer %>
		</div>
  </div>
</div>



<script>
$(document).ready(function(){
<% if(id !== undefined){ %>
  $('.project_item[project-id=<%= id %>]').trigger('click');
<% } %>
});
</script>
