<% layout('../public/layout') %>
<div class="head">
  <h1>Project</h1>
  <h2>C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Buidling Environment.</h2>
  <a class="ui button searchbtn">Search</a>
  <a class="ui button"  href="/projects/create">Create</a>
</div>
<div class="ui special cards">
  <% for(var i in projects){ %>
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <div class="ui primary button info" project-id="<%= projects[i]._id %>">Info</div>
            </div>
          </div>
        </div>
        <img src="../assets/images/project.png">
      </div>
      <div class="content">
        <a class="header" href="/projects/<%= projects[i]._id %>"><%= projects[i].Name %></a>
        <div class="meta">
          <span class="date">Type: <%= projects[i].Type %></span>
        </div>
      </div>
      <div class="extra content">
        <a><i class="users icon"></i>
          <%= projects[i].MemberID.length %> members
        </a>
      </div>
    </div>
  <% } %>
</div>
<% for(var i in projects){ %>
  <div class="ui modal <%= projects[i]._id %>">
    <i class="close icon"></i>
    <div class="header">
      <%= projects[i].Name %>
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img src="../assets/images/project.png">
      </div>
      <div class="description">
        <p>Type: <%= projects[i].Type %></p>
        <p>duration </p>
        <p>Need: <%= projects[i].Need %></p>
        <p>Description: <%= projects[i].Description %></p>
        <p>Goal: <%= projects[i].Goal %></p>
        <p>Contributor: </p>
        <p>Sponsor: </p>
        <p>Activities: </p>
        <p>Teammate: </p>
      </div>
    </div>
    <div class="actions">
      <% if(me && projects[i].AdminID.indexOf(me._id)!=-1){ %>
        <div class="ui red button delProject" project-id="<%= projects[i]._id %>">Delete</div>
        <a class="ui green button" href="/projects/edit/<%= projects[i]._id %>">Edit</a>
        <a class="ui green button" href="/projects/<%= projects[i]._id %>/apply">Apply</a>
      <% } %>
      <div class="ui blue button">
        Text Me
      </div>
      <div class="ui blue button">
        Sharing
      </div>
      <% if(me){ %>
        <% if(projects[i].ApplyID.indexOf(me._id)==-1 && projects[i].MemberID.indexOf(me._id)==-1){ %>
          <div class="ui blue button joinProject" project-id="<%= projects[i]._id %>">
            Join
          </div>
        <% }else{ %>
          <div class="ui red button quitProject" project-id="<%= projects[i]._id %>">
            Quit
          </div>
        <% } %>
      <% } %>
    </div>
  </div>
<% } %>

<script>
$(document).ready(function(){
  $('.info').on('click', function(){
    var id = this.getAttribute('project-id');
    $('.ui.modal.' + id).modal('show');
  });

  $('.joinProject').on('click', function(){
    var id = this.getAttribute('project-id');
    $.ajax({
      url: "/projects/join/",
      type: "POST",
      data:{
        project_id:id
      },
      success: function(response) {
        toastr.success("申請成功");
        setTimeout(function(){
          window.location.href = window.location.href;
        },3000);
      }
    });
  });

  $('.quitProject').on('click', function(){
    var id = this.getAttribute('project-id');
    $.ajax({
      url: "/projects/quit/",
      type: "POST",
      data:{
        project_id:id
      },
      success: function(response) {
        toastr.success("退出成功");
        setTimeout(function(){
          window.location.href = window.location.href;
        },3000);
      }
    });
  });

  $('.delProject').on('click', function(){
    var id = this.getAttribute('project-id');
    $.ajax({
      url: "/projects/delete/"+id,
      type: "POST",
      success: function(response) {
        if(response=="ok"){
          toastr.success("刪除成功");
          setTimeout(function(){
            window.location.href = window.location.href;
          },3000);
        }
      }
    });
  });
});
</script>
