<div class="dark_mask"></div>
	<div id="detail_left">
		<div class="class_icons">
			<div class="float_icon culture"></div>
			<div class="float_icon digital"></div>
			<div class="float_icon social"></div>
		</div>
		<div id="detail_brief">
			<div class="brief_pic">
        <% if(project.hasCover == 1){ %>
        <img id="project_pic" style="height: 50vh;"> src="/uploads/project/<%= project._id %>/logo.png">
        <% }else{ %>
        <img class="preview_pic" src="/assets/images/project_ex2.png">
        <% } %>
        <img id="pic_more" src="/assets/images/pic_more.png">
			</div>
			<p class="project_name"><%= project.Name %></p>
		</div>
	</div>
	<div class="with_scroll" id="detail_right">
		<p id="detail_main_text"><%= project.Introduction %></p>
		<p>　</p>
		<p id="detail_type">
      <p class="title">Type</p>
      <span>/</span>
      <p class="short orange"><%= project.Type %></p>
    </p>
		<p id="detail_duration"><p class="title">duration</p><span>/</span><p class="short"></p></p>
		<p id="detail_need">
      <p class="title">Need</p>
      <span>/</span>
      <p class="short">
        <% for(var i =0 ; i < project.Need.length  ;i ++){ %>
          <%= project.Need[i] %>
        <% } %>
      </p>
    </p>
		<p id="detail_intro">
      <p class="title with_space">Introduction</p>
      <span>/</span>
      <p class="long">
      </p>
    </p>
		<p id="detail_mission">
      <p class="title with_space">Goal</p>
      <span>/</span>
      <p class="long">
        <%= project.Mission %>
			</p>
    </p>
 		<p id="detail_contributer"><br/>
      <p class="title">Contributer</p>
      <span>/</span>
      <p class="short"></p>
    </p>
		<p id="detail_sponsor">
      <p class="title">Sponsor</p>
      <span>/</span>
      <p class="short"></p>
    </p>
		<p id="detail_activities">
      <p class="title">Activities</p>
      <span>/</span>
      <p class="short"></p>
    </p>
		<p id="detail_teammate">
      <p class="title">Teammate</p>
      <span>/</span>
      <p class="short">
        <% for(var i in members){ %>
          <a class="openInfo" type="users" id="<%= members[i]._id %>"><%= members[i].Name %></a>
        <% } %>
      </p>
    </p>
	</div>
  <% if(me.Role >= 1){ %>
  	<div class="bottom_icons">
      <% if(me){ %>
        <% if(project.ApplyID.indexOf(me._id)==-1 && project.MemberID.indexOf(me._id)==-1){ %>
          <div class="round_icon join joinProject" project-id="<%= project._id %>"></div>
        <% }else if(project.ApplyID.indexOf(me._id)!=-1 || project.MemberID.indexOf(me._id)!=-1){ %>
          <!-- <div class="ui red button quitProject" project-id="<%= project._id %>">
            Quit
          </div> -->
        <% } %>
      <% } %>
  		<div class="round_icon share"></div>
  		<div class="round_icon text"></div>
  	</div>
  <% } %>
	<a href="#" class="close_icon" id="close_window"></a>
  <div class="float_pic_window">
    <svg class="slideshow_btn disabled" id="go_prev" width="20">
      <line id="line_1" x1="20" y1="0" x2="0" y2="10" />
      <line id="line_2" x1="20" y1="20" x2="0" y2="10" />
    </svg>
    <svg class="slideshow_btn" id="go_next" width="20">
      <line id="line_1" x1="0" y1="0" x2="20" y2="10" />
      <line id="line_2" x1="0" y1="20" x2="20" y2="10" />
    </svg>
    <div id="view_all_pic">
      <img class="project_view_pic end" src="/assets/images/view_pic_end.png">
      <!-- <img class="project_view_pic" id="pic_1" src="/assets/images/portfolio_ex.png">
      <img class="project_view_pic" id="pic_2" src="/assets/images/portfolio_ex.png">
      <img class="project_view_pic" id="pic_3" src="/assets/images/portfolio_ex.png">
      <img class="project_view_pic" id="pic_4" src="/assets/images/portfolio_ex.png">
      <img class="project_view_pic" id="pic_5" src="/assets/images/portfolio_ex.png"> -->
      <img class="project_view_pic end" src="/assets/images//view_pic_end.png">
    </div>
    <div class="view_pic_counter">
      <span class="pic_counter now">01</span><span class="pic_counter total">/10</span>
    </div>
    <a href="#" class="close_icon" id="close_pic_view">　</a>
  </div>

<script>
$(document).ready(function(){
  $('.joinProject').on('click', function(){
    var id = this.getAttribute('project-id');
    $.ajax({
      url: "/projects/join/",
      type: "POST",
      data:{
        project_id:id
      },
      success: function(response) {
        toastr.success("申請成功");
        setTimeout(function(){
          window.location.href = window.location.href;
        },3000);
      }
    });
  });

  $('.quitProject').on('click', function(){
    var id = this.getAttribute('project-id');
    $.ajax({
      url: "/projects/quit/",
      type: "POST",
      data:{
        project_id:id
      },
      success: function(response) {
        toastr.success("退出成功");
        setTimeout(function(){
          window.location.href = window.location.href;
        },3000);
      }
    });
  });

  $('.delProject').on('click', function(){
    var id = this.getAttribute('project-id');
    $.ajax({
      url: "/projects/delete/"+id,
      type: "DELETE",
      success: function(response) {
        if(response=="ok"){
          toastr.success("刪除成功");
          setTimeout(function(){
            window.location.href = window.location.href;
          },3000);
        }
      }
    });
  });
});
</script>
