<% layout('../public/layout') %>
<div class="head">
  <h1>People</h1>
  <h2>C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Buidling Environment.</h2>
  <a class="ui button searchbtn">search</a>
</div>
<% if( Object.keys(query).length>0 ){ %>
  <h2>查詢條件</h2>
  <h3>
    <% for(var i in query ){ %>
      <% if(query[i]){ %>
        <%= i +" : "+query[i] %>&nbsp;&nbsp;&nbsp;&nbsp;
      <% } %>
    <% } %>
  </h3>
  <h4>一共<%= users.length %>筆</h4>
<% } %>
<div class="ui special cards">
  <% for(var i in users){ %>
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <div class="ui primary button info" user-id="<%= users[i]._id %>">Info</div>
            </div>
          </div>
        </div>
        <img src="/assets/images/molly.png">
      </div>
      <div class="content">
        <a class="header"><%= users[i].Name %></a>
        <% if(users[i].Major !== undefined){ %>
        <div class="meta">
          <span class="date">Major in <%= users[i].Major %></span>
        </div>
        <% } %>
      </div>
      <div class="extra content">
        <% for(var j = 0; j < users[i].Skill.length; j++){ %>
        <a class="ui basic label"><%= users[i].Skill[j] %></a>
        <% } %>
      </div>
    </div>
  <% } %>
</div>

<div class="ui modal">
</div>

<script>
  $(document).ready(function(){
    $('.info').on('click', function(){
      var id = this.getAttribute('user-id');
      $.ajax({
        url: "/users/"+id,
        type: "POST",
        success: function(response) {
          $(".ui.modal").append(response);
          $(".ui.modal").modal({
          onHide: function(){
            $(".ui.modal").empty();
          }}).modal("show");
        }
      });
    });
  });
</script>
