<% layout('../public/layout') %>
<script type="text/javascript" src="/assets/js/people.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/people_main.css">
<link rel="stylesheet" type="text/css" href="/assets/css/people_float.css">

<div id="fullpage">
	<div class="main_page">
		<div class="section" id="people_intro">
			<div id="intro_left">
				<h1>People</h1>
				<p>C-Hub is a creative space came about from the interconnection among
					Creativity, Human, Urban, and Building Environment.</p>
				<div class="space"></div>
				<!-- search功能暫時不開放 -->
				<!-- <img id="you_can" src="/assets/images/you_can.png">
				<a href="#" id="search">　</a> -->
			</div>
			<div id="intro_right">
				<img class="main_round_pic" src="/assets/images/people_round.png">
			</div>
		</div>
		<div class="section" id="people_view">
			<div class="hide_scrollbar">
				<div id="view_left" class="syncscroll" name="view_people">
					<div class="row" id="row_1">
					<% for(var i = 0; i < users.length; i += 3){ %>
						<% if(users[i].hasCover == -1) { %>
						<div class="people_left">
							<img class="people_pic" id="pic_<%= users[i].id %>" src="/uploads/user/<%= users[i].id %>/avatar.png"  user-id="<%= users[i].id %>">
							<img class="people_more" src="/assets/images/people_more.png">
						</div>
						<% }else{ %>
						<div class="people_left">
							<img class="people_pic" id="pic_<%= users[i].id %>" src="/assets/images/molly.png"  user-id="<%= users[i].id %>">
							<img class="people_more" src="/assets/images/people_more.png">
						</div>
						<% } %>
					<% } %>
					</div>
					<div class="row" id="row_2">
					<% for(var i = 1; i < users.length; i += 3){ %>
						<% if(users[i].hasCover == -1) { %>
						<div class="people_left">
							<img class="people_pic" id="pic_<%= users[i].id %>" src="/uploads/user/<%= users[i].id %>/avatar.png"  user-id="<%= users[i].id %>">
							<img class="people_more" src="/assets/images/people_more.png">
						</div>
						<% }else{ %>
						<div class="people_left">
							<img class="people_pic" id="pic_<%= users[i].id %>" src="/assets/images/molly.png"  user-id="<%= users[i].id %>">
							<img class="people_more" src="/assets/images/people_more.png">
						</div>
						<% } %>
					<% } %>
					</div>
					<div class="row" id="row_3">
					<% for(var i = 2; i < users.length; i += 3){ %>
						<% if(users[i].hasCover == -1) { %>
						<div class="people_left">
							<img class="people_pic" id="pic_<%= users[i].id %>" src="/uploads/user/<%= users[i].id %>/avatar.png"  user-id="<%= users[i].id %>">
							<img class="people_more" src="/assets/images/people_more.png">
						</div>
						<% }else{ %>
						<div class="people_left">
							<img class="people_pic" id="pic_<%= users[i].id %>" src="/assets/images/molly.png"  user-id="<%= users[i].id %>">
							<img class="people_more" src="/assets/images/people_more.png">
						</div>
						<% } %>
					<% } %>
					</div>
				</div>
			</div>
			<div id="view_upper_right">
				<p class="upper_tag">People</p>
				<p class="upper_tag last">Major</p>
			</div>
			<div id="view_right" class="syncscroll with_scroll" name="view_people">
				<div class="ui grid">
				<% for(var i =0 ; i<users.length;i++){ %>
					<div class="people_info four wide column" id="info_<%= users[i].id %>" user-id="<%= users[i].id %>">
						<p class="name"><%= users[i].Name %></p>
						<p class="major"><%= users[i].Major %></p>
						<p class="skill">
							<% for(var j = 0 ; j<users[i].Skill.length;j++){%>
								<%= users[i].Skill[j] %><br>
							<% } %>
						</p>
						<span class="after"></span>
					</div>
				<% } %>
				</div>
			</div>
		</div>
    <div class="section" id="footer">
      <% include ../public/footer %>
    </div>
  </div>
</div>

<div class="float_window">
</div>

<script>
$(document).ready(function(){
	<% if(id !== undefined){ %>
	  $('.people_pic[user-id=<%= id %>]').trigger('click');
	<% } %>
});
</script>
