<i class="close icon"></i>
<div class="header">
  <%= user.Name %>
</div>
<div class="image content">
  <div class="ui medium image">
    <img src="/assets/images/rachel.png">
  </div>
  <div class="description">
    <p>Major: <%= user.Major !== undefined ? user.Major : "" %></p>
    <p>Skills:&nbsp;
      <% for(var j = 0; j < user.Skill.length; j++){ %>
        <%= user.Skill[j] %>
        <% if(j != user.Skill.length - 1){ %>
          ,&nbsp;&nbsp;
        <% } %>
      <% } %>
    </p>
    <p>Group: </p>
    <p>Location: <%= user.Location !== undefined ? user.Location : "" %></p>
    <p>Introduction: <%= user.Introduction !== undefined ? user.Introduction : ''%></p>
    <p>Project: </p>
    <p>Activity: </p>
    <p>portfolio: </p>
  </div>
</div>
<% if(me._id.toString().indexOf(user._id.toString()) == -1){ %>
<div class="actions">
  <div class="ui blue button sendText" userid="<%= user._id %>" userName = "<%= user.Name %>">
    Text Me
  </div>
</div>
<% } %>


<script>
$(document).ready(function() {
  $(".sendText").on("click", function(){
    // 封鎖未登入使用者
    <% if(!me){ %> 
    NotLogin();
    return;
    <% } %>

    // 把之前沒有傳訊息的使用者刪掉
    findNotSendMessageUser();

    var Toid = $(this).attr("userid");
    var ToUserName = $(this).attr("userName");

    // 不能傳訊息給自己
    if(Toid == "<%= me._id %>"){
      return;
    }

    $(".ui.modal").modal("hide");
    $("#msgSidebar").sidebar("setting", "transition", "overlay").sidebar("toggle");

    // 如果傳過訊息、就不用增加
    if ($("#userSidebar > .item[userid=\'" + Toid + "\']")[0] !== undefined){
      $("#userSidebar > .item[userid=\'" + Toid + "\']").trigger('click');
      return;
    }

    // 加入訊息側邊user
    var messagePicture = "<a class='item' userid='" + Toid + "'><i class='user icon'></i> " + ToUserName + "</a>";
    $("#userSidebar > .item:first").after(messagePicture);

    // 加入訊息中間框框
    $(".chatCont").append("<div messageUserID=\'" + Toid + "\' style='display: none;'></div>")

    $("#userSidebar > .item[userid=\'" + Toid + "\']").on("click", changeMessageBoard);
    $("#userSidebar > .item[userid=\'" + Toid + "\']").trigger("click");
  })
});
</script>