<i class="close icon"></i>
<div class="header">
  <%= user.Name %>
</div>
<div class="image content">
  <div class="ui medium image">
    <img src="/assets/images/rachel.png">
  </div>
  <div class="description">
    <p>Major: <%= user.Major %></p>
    <p>Skills:&nbsp;
      <% for(var j = 0; j < user.Skill.length; j++){ %>
        <%= user.Skill[j] %>
        <% if(j != user.Skill.length - 1){ %>
          ,&nbsp;&nbsp;
        <% } %>
      <% } %>
    </p>
    <p>Group: </p>
    <p>Location: <%= user.Location %></p>
    <p>Introduction: <%= user.Introduction %></p>
    <p>Project: </p>
    <p>Activity: </p>
    <p>portfolio: </p>
  </div>
</div>
<div class="actions">
  <div class="ui blue button">
    Text Me
  </div>
</div>
