<div class="dark_mask"></div>
<div id="detail_left">
	<div class="share_icons">
		<img src="/assets/images/share_fb.png">
		<img src="/assets/images/share_twitter.png">
		<img src="/assets/images/share_ig.png">
	</div>
	<div id="detail_brief">
    <% if(user.hasCover == 1) { %>
		  <img src="/uploads/user/<%= user._id %>/avatar.png?<%= new Date().getTime() %>">
    <% }else{ %>
      <img src="/assets/images/molly.png">
    <% } %>
		<p class="name"><%= user.Name %></p>
    <% if(me) { %>
      <% if(me._id.toString().indexOf(user._id.toString()) == -1){ %>
        <a href="#" class="sendText" id="text_me" userid="<%= user._id %>" userName = "<%= user.Name %>"></a>
      <% } %>
    <% } %>
	</div>
</div>
<div id="detail_upper_right">
	<p class="upper_tag">People</p>
	<p class="upper_tag last">Major</p>
</div>
<div class="with_scroll" id="detail_right">
	<p></p>
	<p id="detail_major">
    <p class="title">Major</p>
    <span>/</span>
    <p class="short">
      <%= user.Major !== undefined ? user.Major : "" %>
    </p>
  </p>
	<p id="detail_skills">
    <p class="title">Skills</p>
    <span>/</span>
    <p class="short">
      <% for(var j = 0; j < user.Skill.length; j++){ %>
        <%= user.Skill[j] %>
        <% if(j != user.Skill.length - 1){ %>
          ,
        <% } %>
      <% } %>
    </p>
  </p>
	<p id="detail_group">
    <p class="title">Group</p>
    <span>/</span>
    <p class="short">
      <% for(var i = 0; i < user.GroupID.length; i++){ %>
        <a type="groups" id="<%= user.GroupID[i]._id %>"><%= user.GroupID[i].Name %></a><br>
      <% } %>
    </p>
  </p>
	<p id="detail_intro">
    <p class="title with_space">Introduction</p>
    <span>/</span>
    <p class="long">
      <%= user.Introduction %>
		</p>
  </p>
	<p id="detail_project">
    <p class="title with_space">Project</p>
    <span>/</span>
    <p class="long">
      <% for(var i = 0; i < user.ProjectID.length; i++){ %>
        <a type="projects" id="<%= user.ProjectID[i]._id %>"><%= user.ProjectID[i].Name %></a>
      <% } %>
    </p>
  </p>
	<p id="detail_activity">
    <p class="title with_space">Activity</p>
    <span>/</span>
    <p class="long">
      <% for(var i = 0; i < user.ActivityID.length; i++){ %>
        <a type="activities" id="<%= user.ActivityID[i]._id %>"><%= user.ActivityID[i].Name %></a>
      <% } %>
    </p>
  </p>
	<!-- <p id="detail_portfolio">
    <p class="title with_space">Portfolio</p>
    <span>/</span>
    <p class="short">
      <% for(var i = 0 ; i <  user.portfolio.length ; i++){ %>
        <a class="port_demo"><%= user.portfolio[i] %></a>
      <% } %>
    </p>
  </p> -->
</div>
<a href="#" class="close_icon" id="close_window"></a>
<!-- <div class="float_portfolio">
	<div id="portfolio_upper_left">
		<p class="upper_tag">portfolio</p>
	</div>
	<svg class="slideshow_btn" id="go_prev" width="20">
		<line id="line_1" x1="20" y1="0" x2="0" y2="10" />
		<line id="line_2" x1="20" y1="20" x2="0" y2="10" />
	</svg>
	<svg class="slideshow_btn" id="go_next" width="20">
		<line id="line_1" x1="0" y1="0" x2="20" y2="10" />
		<line id="line_2" x1="0" y1="20" x2="20" y2="10" />
	</svg>
	<div id="portfolio">
		<img class="portfolio_pic end" src="/assets/images/portfolio_end.png">
		<% for(var i = 0 ; i <  user.portfolio.length ; i++){ %>
			<img class="portfolio_pic" id="port_<%= i+1 %>" src="/uploads/user/<%= user._id %>/<%= user.portfolio[i] %>">
		<% } %>
		<img class="portfolio_pic end" src="/assets/images/portfolio_end.png">
	</div>
	<div class="portfolio_pic_counter">
		<span class="port_counter now">01</span><span class="port_counter total">/<%= user.portfolio.length %></span>
	</div>
	<a href="#" class="close_icon" id="close_portfolio"></a>
</div> -->

<script>
$(document).ready(function(){
  <% if(me){ %>
  $(".sendText").on("click", function(){
	    // 把之前沒有傳訊息的使用者刪掉
	    // findNotSendMessageUser();

	    var Toid = $(this).attr("userid");
	    var ToUserName = $(this).attr("userName");

      $( "#side_message" ).trigger('click');
      console.log("userid: " + Toid);
      console.log("userName: " + ToUserName);

	    // $(".ui.modal").modal("hide");
	    // $("#msgSidebar").sidebar("setting", "transition", "overlay").sidebar("toggle");

	    // // 如果傳過訊息、就不用增加
	    // if ($("#userSidebar > .item[userid=\'" + Toid + "\']")[0] !== undefined){
	    //   $("#userSidebar > .item[userid=\'" + Toid + "\']").trigger('click');
	    //   return;
	    // }

	    // // 加入訊息側邊user

      //// old
	    // var messagePicture = "<a class='item' userid='" + Toid + "'><i class='user icon'></i> " + ToUserName + "</a>";
	    // $("#userSidebar > .item:first").after(messagePicture);

      //// new
      var messageList_unit = '<div class="a_message unread" userid=\"' + Toid +'\" userName=\"' + ToUserName + '\"><img class="profile_photo tiny" src="/uploads/user/' + Toid + '/avatar.png"><p class="message_sender">' + ToUserName + '</p><a class="strange_icon">　</a><div class="horizontal_line"></div></div>';
      $('#side_cont_messenger').prepend(messageList_unit);

	    // // 加入訊息中間框框
      //// old
	    // $(".chatCont").append("<div messageUserID=\'" + Toid + "\' style='display: none;'></div>")

	    // $("#userSidebar > .item[userid=\'" + Toid + "\']").on("click", changeMessageBoard);
	    // $("#userSidebar > .item[userid=\'" + Toid + "\']").trigger("click");

      //// new
      var message_window = '<div class="dialogue_window" messageUserID=\"' + Toid + '\" style="display: none;"><a href="#" class="close_icon" id="close_dialogue">　</a><div class="dialogue_content with_scroll"></div><div class="dialogue_input"><div class="horizontal_line"></div> <textarea id="messege_input" placeholder="Type a message ..."></textarea><a href="#" class="message_input_btn" onclick="sendMessage(this)">Send</a></div></div>"';
      $('#side_cont_dialogue').append(message_window);
      $(".a_message[userid=\'" + Toid + "\']").on("click", dialogue);
      $(".a_message[userid=\'" + Toid + "\']").trigger("click");
  });
  <% } %>

	var port_pic_total = <%= user.portfolio.length %>,
			port_status = "closed",
			port_pic_display_now = 1,
			port_pic_display_prev,
			port_pic_display_next,
			port_scroll_now = $(".portfolio_pic").width()/2 + 280;

	$("#port_1").addClass("center");
	$(".port_demo,#close_portfolio,.dark_mask").click(function(){
	  float_portfolio();
	});

	// Portfolio 的顯示控制
	function float_portfolio(){
		if(port_status == "closed") {
			port_status = "open";
			$("#detail_left, #detail_upper_right, #detail_right").animate({opacity:0},500);
			$("#detail_left, #detail_upper_right, #detail_right").hide();
			$(".float_portfolio").show();
			$("#fullpage, .cover").animate({opacity:0},100,function(){
				$(".float_portfolio").animate({opacity:1},500);
				$("#portfolio").scrollLeft(port_scroll_now);
			});
		}
		else if(port_status == "open") {
			port_status = "closed";
			$("#fullpage,.cover").animate({opacity:0.1},500);
			$(".float_portfolio").animate({opacity:0},500,function() {
				$(".float_portfolio").hide();
				$("#detail_left, #detail_upper_right, #detail_right").show();
				$("#detail_left, #detail_upper_right, #detail_right").animate({opacity:1}, 500);
			});
		}
	}

	// Portfolio 的動態控制
	$("#go_prev").click(function() {
	  if(port_pic_display_now > 1){
	    port_pic_display_now -= 1;
	    port_scroll_now -= $(".portfolio_pic").width() + 100;
			checkscroll();
	    $("#portfolio").animate({scrollLeft: port_scroll_now},"500");
	  }
	});

	$("#go_next").click(function() {
	  if(port_pic_display_now < port_pic_total){
	    port_pic_display_now += 1;
	    port_scroll_now += $(".portfolio_pic").width() + 100;
			checkscroll();
	    $("#portfolio").animate({scrollLeft:port_scroll_now},"500");
	  }
	});

	function checkscroll(){
	  port_pic_display_prev = port_pic_display_now - 1;
	  port_pic_display_next = port_pic_display_now + 1;
		$("#port_"+port_pic_display_now).addClass("center");
	  $("#port_" + port_pic_display_prev + ", #port_" + port_pic_display_next).removeClass("center");
	  $(".port_counter.now").text(paddingLeft(port_pic_display_now));
	  if(port_pic_display_now > 1)
	    $("#go_prev").removeClass("disabled");
	  else
	    $("#go_prev").addClass("disabled");
	  if(port_pic_display_now < port_pic_total)
	    $("#go_next").removeClass("disabled");
	  else
	    $("#go_next").addClass("disabled");
	}

	function paddingLeft(num){
		if(num < 10)
			return "0" + num;
		else
			return num;
	}
});
</script>
