<div id="setting" style="display: none; color: white !important;">
  <h1>-Setting-</h1>
  <i class="chevron circle left big icon" id="backProfile" style="position: absolute; top: 20px; left: 24px"></i>
  <div class="ui top attached tabular menu">
    <div class="item active" data-tab="profileSetting">Profile</div>
    <div class="item" data-tab="portfolioSetting">Portfolio</div>
    <div class="item" data-tab="accountSetting">Account</div>
  </div>
  <div class="ui tab active" data-tab="profileSetting">
    <form class="ui form" id="userAvatarForm">
      <div class="field">
        <div class="errormsg"></div>
      </div>
      <div class="fields">
        <div class="four wide field" style="text-align: left;">
          <h3 >Avatar: </h3>
        </div>
        <div class="twelve wide field">
          <input type="file" name="avatar" id="avatar">
        </div>
      </div>
    </form>
    <form class="ui form" id="updateForm">
      <div class="fields">
        <div class="four wide field" style="text-align: left;">
          <h3 >Name: </h3>
        </div>
        <div class="twelve wide field">
          <input type="text" name="name" value="<%= me.Name %>">
        </div>
      </div>
      <div class="fields">
        <div class="four wide field" style="text-align: left;">
          <h3 >Major: </h3>
        </div>
        <div class="twelve wide field">
          <input type="text" name="major" value="<%= me.Major !== undefined ? me.Major : ''%>">
        </div>
      </div>
      <div class="fields">
        <div class="four wide field" style="text-align: left;">
          <h3 >Email: </h3>
        </div>
        <div class="twelve wide field">
          <input type="text" name="email" value="<%= me.Email %>">
        </div>
      </div>
      <div class="fields">
        <div class="four wide field" style="text-align: left;">
          <h3 >Location: </h3>
        </div>
        <div class="twelve wide field">
          <input type="text" name="location" value="<%= me.Location !== undefined ? me.Location : ''%>">
        </div>
      </div>
      <div class="fields">
        <div class="four wide field" style="text-align: left;">
          <h3>Skill: </h3>
        </div>
        <div class="twelve wide field">
          <div class="ui right labeled left icon input">
            <i class="tags icon"></i>
            <input type="text" placeholder="Enter Skill" name="textSkill">
            <a class="ui tag label" id="addSkill">
              Add Skill
            </a>
          </div>
        </div>
      </div>
      <div class="fields" id="showSkills">
        <div class="four wide field" style="text-align: left;">
          <h3></h3>
        </div>
        <% for(var i = 0; i < me.Skill.length; i++){ %>
          <a class="ui tag label"><%= me.Skill[i] %><i class="icon close"></i></a>
        <% } %>
      </div>
      <div class="field">
        <h3 style="text-align: left;">Introduction: </h3>
        <textarea name="introduction" value="<%= me.Introduction %>"><%= me.Introduction !== undefined ? me.Introduction : ''%></textarea>
      </div>
      <div class="ui button" tabindex="0" id="updateProfile">Done</div>
    </form>
  </div>
  <div class="ui tab" data-tab="accountSetting">
    <!-- <button class="ui button">重設密碼</button> -->
  </div>
  <div class="ui tab" data-tab="portfolioSetting">
    <div class="ui centered grid" style="padding-top:50px;">
      <div class="sixteen wide tablet sixteen wide computer column">
        <!-- <h1>Upload portofolio</h1> -->
        <form class="ui form" id="portfolioForm">
          <div class="field">
            <div class="errormsg"></div>
          </div>
          <div class="field">
            <input type="file" name="portfolio" id="portfolio">
          </div>
          <div class="ui button" id="portfolioSubmit">Upload</div>
        </form>
        <div style="margin-top:30px;">
          <% if(me.portfolio.length != 0){ %>
            <table class="ui unstackable table">
              <thead>
                <tr>
                  <th>File</th>
                  <th>Setting</th>
                </tr>
              </thead>
              <tbody>
              <% for(var i = 0 ; i <  me.portfolio.length ; i++){ %>
                <tr id="portfolio-<%= i %>">
                  <td><a href="/uploads/user/<%= me._id %>/<%= me.portfolio[i] %>" target="_blank"><%= me.portfolio[i] %></a></td>
                  <td><div class="ui button portfolioDel" file-number="<%= i %>" file-name="<%= me.portfolio[i] %>">Delete</div></td>
                </tr>
              <% } %>
              </tbody>
            </table>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  //更新個人資料
  $('#updateProfile').on('click', function(){
    var skillNum = $('#showSkills a').children().length;
    var skillArr = [];
    var Data = $('#updateForm').serialize();
    for(var i = 0; i < skillNum; i++){
      Data += '&skill=' + $('#showSkills a')[i].text;
    }
    $.ajax({
      url: 'users/update',
      method: "POST",
      data: Data,
      success: function(response) {
        if(response.error){
          $("#setting .errormsg").empty();
          for(var i in response["error"]){
            $("#setting .errormsg").append(`<p>${response["error"][i]}</p>`);
          }
        }
        else{
          if($("#userAvatarForm #avatar").val()!=""){
            var avatar = $("#avatar")[0].files[0];
            if(avatar.type == "image/png" || avatar.type == "image/jpeg"){
              var formData = new FormData($("#userAvatarForm")[0]);
              $.ajax({
                url: "/users/upload/",
                type: "POST",
                data:formData,
                contentType: false,
                processData: false,
                success: function(response) {
                  if(response == "ok") {
                    toastr.success("更新成功");
                    setTimeout(function(){
                      window.location.reload();
                    },3000);
                  }
                  else {
                    $("#setting .errormsg").empty();
                    for(var i in response["error"]){
                      $("#setting .errormsg").append(`<p>${response["error"][i]}</p>`);
                    }
                  }
                }
              });
            }else{
              alert("請上傳jpg或png檔案");
            }
          }
          else{
            toastr.success("更新成功");
            setTimeout(function(){
              window.location.reload();
            },3000);
          }
        }
      }
    })
  });
  //新增Skill
  $('#addSkill').on('click', function(){
    if($("input[name='textSkill']").val() == "") return;
    var skillNum = $('#showSkills a').children().length;
    var skillArr = [];
    if(skillNum == 3){
      alert('最多三個skill');
      $("input[name='textSkill']").val('');
      return 0;
    }
    var skill = $("input[name='textSkill']").val();
    $("input[name='textSkill']").val('');
    $('#showSkills').append('<a class="ui tag label">' + skill + '<i class="icon close"></i></a>');
    $('#showSkills a').on('click', function(){
      $(this).remove();
    })
    var Data = $('#updateForm').serialize();
    for(var i = 0; i < skillNum; i++){
      Data += '&skill=' + $('#showSkills a')[i].text;
    }
    $.ajax({
      url: 'users/update',
      method: "POST",
      data: Data,
      success: function(response) {
        console.log('add suuces!');
      }
    })
  })
  //remove skill
  $('#showSkills a').on('click', function(){
    $(this).remove();
  })

  //update Porfolio
  $("#portfolioSubmit").on("click",function(){
    if($("#portfolio").val()!=""){
      var portfolio = $("#portfolio")[0].files[0];
      if(portfolio.type == "image/png" || portfolio.type == "image/jpeg" || portfolio.type =="application/pdf" ){
        var formData = new FormData($("#portfolioForm")[0]);
        $.ajax({
          url: "/users/portfolio/upload",
          type: "POST",
          data:formData,
          contentType: false,
          processData: false,
          success: function(response) {
            if (response == "ok") {
              toastr.success("上傳成功");
              setTimeout(function(){
                // window.location.href="/users/portfolio/<%= me._id %>";

                // 晚點做把上傳資料append進去
                window.location.href="/";
              },3000);
            }
            else {
              $("#portfolioForm .errormsg").empty();
              for(var i in response["error"]){
                $("#portfolioForm .errormsg").append(`<p>${response["error"][i]}</p>`);
              }
            }
          }
        });
      }
      else {
        alert("請上傳圖片或pdf檔案");
      }
    }
  });
  $(".portfolioDel").on("click",function(){
    var num = this.getAttribute("file-number");
    $.ajax({
      url: "/users/portfolio/delete",
      type: "DELETE",
      data:{
        file:this.getAttribute("file-name")
      },
      success: function(response) {
        if (response == "ok") {
          toastr.success("刪除成功");
          $("#portfolio-"+num).remove();
        }
        else {
          $("#portfolioForm .errormsg").empty();
          for(var i in response["error"]){
            $("#portfolioForm .errormsg").append(`<p>${response["error"][i]}</p>`);
          }
        }
      }
    });
  });
});
</script>
