<div class="right_sidebar">
   <div class="side_icon" id="side_profile">
      <img src="assets/images/side_profile.png">
   </div>
   <!-- 暫時不開放message、search -->
   <% if(me) { %>
     <div class="side_icon" id="side_message">
        <img src="assets/images/side_message.png">
     </div>
   <% } %>
   <div class="side_icon" id="side_search">
      <img src="assets/images/side_search.png">
   </div>
    <% if(me) { %>
      <% if(me.Role >= 2) { %>
        <div class="side_icon">
           <a href="/panel" target="_blank"><img src="assets/images/side_Backstage.png"></a>
        </div>
      <% } %>
    <% } %>
</div>

<div class="sidebar_cont">
  <div class="sidebar_upper">
    <a href="#" id="sidebar_chub_logo">　</a>
    <div class="side_menu" id="side_menu_profile_before">
       <div class="sidebar_btn half profile_before_btn active" id="sidebar_login"><p>Log In</p></div>
       <div class="sidebar_btn half profile_before_btn" id="sidebar_signup"><p>Sign Up</p></div>
       <div class="triangle"></div>
    </div>
    <div class="side_menu" id="side_menu_profile_after">
      <div class="sidebar_btn third profile_after_btn active" id="sidebar_interested"><p>Interested</p></div>
      <div class="sidebar_btn third profile_after_btn" id="sidebar_profile"><p>My Profile</p></div>
      <div class="sidebar_btn third profile_after_btn" id="sidebar_headsup"><p class="counter">3</p><p>Heads-Up</p></div>
      <div class="triangle"></div>
    </div>
    <div class="side_menu" id="side_menu_message">
      <div class="sidebar_btn half profile_before_btn active" id="sidebar_messenger"><p class="counter">3</p><p>Messenger</p></div>
      <div class="sidebar_btn half profile_before_btn" id="sidebar_dialogue"><p id="dialogue_name">Dialogue</p></div>
      <div class="triangle dialogue"></div>
    </div>
    <div class="side_menu" id="side_menu_search">
      <div class="sidebar_btn full search_btn" id="sidebar_search"><p>Search</p></div>
    </div>
  </div>
  <div class="sidebar_upper_filled"></div>

   <!-- 側邊欄profile: 登入頁面 -->
  <form class="side_cont_page" id="side_cont_login">
    <input class="big_input" type="text" name="email" placeholder="E-mail"></input>
    <input class="big_input" type="password" name="password" placeholder="Password"></input>
    <div class="side_goto_bottom">
      <div class="side_btn" id="loginSubmit">Log In</div>
      <!-- <div class="side_btn black" id="side_facebook" onclick="window.location='/users/fblogin';">Facebook</div> -->
      <p id="dont_have_account">Don't have an an Account?</p>
    </div>
  </form>

  <!-- 側邊欄profile: 註冊頁面 -->
  <form class="side_cont_page" id="side_cont_signup">
    <!-- <input class="big_input" type="text" name="email" placeholder="E-mail"></input> -->
    <!-- <input class="big_input" type="text" name="name" placeholder="Username"></input> -->
    <!-- <input class="big_input" type="password" name="password" placeholder="Password"></input>
    <input class="big_input" type="password" name="password2" placeholder="Confirm Password"></input> -->
    <div class="side_goto_bottom">
       <div class="side_btn" id="side_btn_signup">Sign Up</div>
       <!-- <div class="side_btn black" id="side_facebook" onclick="window.location='/users/fblogin';">Facebook</div> -->
       <p>　</p>
    </div>
  </form>

  <!-- 側邊欄message：列表 -->
  <div class="side_cont_page with_scroll" id="side_cont_messenger">
    <!-- <div class="a_message unread">
      <img class="profile_photo tiny" src="https://unsplash.it/80/80">
      <p class="message_sender">Chia Hao Liao</p>
      <p class="message_time">10 小時前</p>
      <p class="message_preview">廖嘉豪 邀請你參加 2016 風格台南 創意時尚展。</p>
      <a class="strange_icon">　</a>
      <div class="horizontal_line"></div>
    </div> -->
    <!-- <div class="a_message unread">
      <img class="profile_photo tiny" src="https://unsplash.it/80/80">
      <p class="message_sender">Chia Hao Liao</p>
      <p class="message_time">10 小時前</p>
      <p class="message_preview">廖嘉豪 邀請你參加 2016 風格台南 創意時尚展。</p>
      <a class="strange_icon">　</a>
      <div class="horizontal_line"></div>
    </div>
    <div class="a_message unread">
      <img class="profile_photo tiny" src="https://unsplash.it/80/80">
      <p class="message_sender">Chia Hao Liao</p>
      <p class="message_time">10 小時前</p>
      <p class="message_preview">廖嘉豪 邀請你參加 2016 風格台南 創意時尚展。</p>
      <a class="strange_icon">　</a>
      <div class="horizontal_line"></div>
    </div> -->
    <!-- <a class="view_more">more...</a> -->
  </div>

  <!-- 側邊欄message：個別對話 -->
  <div class="side_cont_page" id="side_cont_dialogue">
<!--     <div class="dialogue_window">
      <a href="#" class="close_icon" id="close_dialogue">　</a>
      <div class="dialogue_content with_scroll">
        <div class="message_received">
          <img class="profile_photo tiny" src="https://unsplash.it/80/80">
          <p class="message_content">廖嘉豪 邀請你參加 2016 風格台南 創意時尚展。</p>
        </div>
        <p class="message_updated_time">2017/05/15 20:51</p>
        <div class="message_sent">
          <p class="message_content">我會去唷！</p>
        </div>
        <div class="message_received">
          <img class="profile_photo tiny" src="https://unsplash.it/80/80">
          <p class="message_content">好的～謝謝你～</p>
        </div>
        <div class="message_received continue">
          <p class="message_content">嘉豪注意！這裡有多一個 class 喔！</p>
        </div>
      </div>
      <div class="dialogue_input">
        <div class="horizontal_line"></div>
        <textarea id="messege_input" placeholder="Type a message ..."></textarea>
        這兩個功能不會用到？
        <a href="#" class="message_input_icon" id="icon_archive"></a>
        <a href="#" class="message_input_icon" id="icon_plus">　</a>
        <a href="#" class="message_input_btn" id="send_msg">Send</a>
      </div>
    </div> -->
  </div>

  <!-- 側邊欄search -->
  <form class="side_cont_page" id="side_cont_search">
    <input class="small_input" type="text" placeholder="在 C-Hub 上搜尋"></input>
    <div class="dropdown">
      <div class="dropdown-content" id="dropdown_layer1">
        <a class="default">All</a>
        <a class="selectable hidden">All</a>
        <a class="selectable">Activity</a>
        <a class="selectable">Group</a>
        <a class="selectable">Project</a>
        <a class="selectable">People</a>
      </div>
      <div class="dropdown-content" id="dropdown_layer2">
        <a class="default">List2</a>
        <a class="selectable hidden">List2</a>
        <a class="selectable">Option1</a>
        <a class="selectable">Option2</a>
        <a class="selectable">Option3</a>
        <a class="selectable">Option4</a>
      </div>
    </div>
    <div class="side_btn black" id="side_search">Search</div>
  </form>

  <!-- 側邊欄profile: 個人資料-->
  <% if(me) { %>
    <div class="side_cont_page" id="side_cont_myprofile">
       <div class="tiny_bottons">
          <!-- <div class="side_btn tiny" id="side_btn_group">My Group</div>  -->
          <div class="side_btn tiny" id="side_btn_edit">Edit Profile</div>
          <div class="side_btn tiny" id="side_btn_logout" onclick="window.location='/users/logout'">Log Out</div>
       </div>
       <div id="side_profile_left">
          <% if(me.hasCover){ %>
            <img class="edit_profile_photo" style="width:50%;" src="/uploads/user/<%= me._id %>/avatar.png?<%= new Date().getTime() %>">
          <% }else{ %>
            <img class="edit_profile_photo" style="width:50%;" src="/assets/images/molly.png">
          <% } %>
          <p class="side_name"><% if(me.Name !== undefined){ %><%= me.Name %><%}%></p>
          <p class="side_sub_name"></p>
          <div id="side_detail_text">
             <p class="left_title">School</p><span>/</span><p class="left_cont"><% if(me.School.Name !== ''){ %><%= me.School.Name %><%}%></p>
             <p class="left_title">Student ID</p><span>/</span><p class="left_cont"><% if(me.School.Name !== ''){ %><%= me.School.StudentID %><%}%></p>
             <p class="left_title">Major</p><span>/</span><p class="left_cont"><% if(me.Major !== undefined){ %><%= me.Major %><%}%></p>
             <% if(me.Skill !== undefined){ %>
                <p class="left_title">Skills</p><span>/</span><p class="left_cont">
                <% for(var j = 0; j < me.Skill.length; j++){ %>
                   <%= me.Skill[j] %><br>
                <% } %>
             <%}%>
             <!-- Technology、<br>Design、<br>Architecture</p> -->
          </div>
       </div>
       <div class="with_scroll" id="side_profile_right">
          <% if(me) {%>
          <p class="right_title">Group</p><span>/</span>
             <% for(var i = 0; i < me.GroupID.length; i++){ %>
                <a class="right_cont"><%= me.GroupID[i].Name %></a>
             <% } %>
          <br>
          <p class="right_title">Project</p><span>/</span>
             <% for(var i = 0; i < me.ProjectID.length; i++){ %>
                <a class="right_cont"><%= me.ProjectID[i].Name %></a>
             <% } %>
          <br>
          <p class="right_title">Activity</p><span>/</span>
             <% for(var i = 0; i < me.ActivityID.length; i++){ %>
                <a class="right_cont"><%= me.ActivityID[i].Name %></a>
             <% } %>
          <br>
          <% } %>
       </div>
    </div>
  <% } %>

  <!-- 側邊欄profile: 系統通知 -->
  <div class="side_cont_page with_scroll" id="side_cont_headsup">
    <div class="a_notification unread">
      <img class="profile_photo tiny" src="https://unsplash.it/80/80">
      <p class="notification_main">廖嘉豪 邀請你參加 2016 風格台南 創意時尚展。</p>
      <a class="strange_icon">　</a><p class="notification_time">10 小時前</p>
      <div class="horizontal_line"></div>
    </div>
    <div class="a_notification unread">
      <img class="profile_photo tiny" src="https://unsplash.it/80/80">
      <p class="notification_main">廖嘉豪 邀請你參加 2016 風格台南 創意時尚展。</p>
      <a class="strange_icon">　</a><p class="notification_time">10 小時前</p>
      <div class="horizontal_line"></div>
    </div>
    <div class="a_notification unread">
      <img class="profile_photo tiny" src="https://unsplash.it/80/80">
      <p class="notification_main">廖嘉豪 邀請你參加 2016 風格台南 創意時尚展。</p>
      <a class="strange_icon">　</a><p class="notification_time">10 小時前</p>
      <div class="horizontal_line"></div>
    </div>
    <div class="a_notification">
      <img class="profile_photo tiny" src="https://unsplash.it/80/80">
      <p class="notification_main">廖嘉豪 邀請你參加 2016 風格台南 創意時尚展。</p>
      <a class="strange_icon">　</a><p class="notification_time">10 小時前</p>
      <div class="horizontal_line"></div>
    </div>
    <div class="a_notification">
      <img class="profile_photo tiny" src="https://unsplash.it/80/80">
      <p class="notification_main">廖嘉豪 邀請你參加 2016 風格台南 創意時尚展。</p>
      <a class="strange_icon">　</a><p class="notification_time">10 小時前</p>
      <div class="horizontal_line"></div>
    </div>
    <a class="view_more">more...</a>
  </div>

  <!-- 側邊欄profile: 感興趣列表 -->
  <div class="side_cont_page with_scroll" id="side_cont_interested">
    <p class="right_title">Project</p><span>/</span>
    <a class="right_cont">Project1</a>
    <a class="right_cont">Project2</a>
    <a class="right_cont">Project3</a>
    <a class="right_cont">Project4</a>
    <a class="right_cont">Project5</a>
    <a class="right_cont">Project6</a>
    <div class="horizontal_line"></div>
    <p class="right_title">Activity</p><span>/</span>
    <a class="right_cont">Activity1</a>
    <a class="right_cont">Activity2</a>
    <a class="right_cont">Activity3</a>
    <a class="right_cont">Activity4</a>
    <a class="right_cont">Activity5</a>
    <a class="right_cont">Activity6</a>
    <a class="view_more">more...</a>
  </div>
</div>

<!-- 編輯profile頁面、 -->

<div class="side_halfscreen">
  <form id="updateavatar" style="display:none;">
    <input type="file" id="newavatar" name="avatar"></input>
  </form>
  <% if(me) { %>
    <form id="halfscreen_edit">
      <div id="halfscreen_edit_left">
        <p id="personal_profile">【Profile】</p>
        <img class="edit_profile_photo" style="width:50%;" src="/uploads/user/<%= me._id %>/avatar.png?<%= new Date().getTime() %>">
        <p class="edit_name"><%= me.Name %></p>
        <div id="edit_detail_text">
          <p class="left_title">School</p><span>/</span><p class="left_cont"><%= me.School.Name %></p><br>
          <p class="left_title">Student ID</p><span>/</span><p class="left_cont"><%= me.School.StudentID %></p>
        </div>
        <input class="mid_input" type="text" readonly="readonly" name="Email" placeholder="E-mail" value="<%= me.Email %>" onclick="resendEmail(this.value)"></input>
        <% if(me.EmailConfirm){ %>
          <a class="ui basic label">已驗證</a>
        <% }else{ %>
          <a class="ui basic label">未驗證</a>
        <% } %>
        <div class="side_btn" id="side_edit_uploadavatar">Upload avatar</div>
        <div class="side_btn" id="side_edit_pw">Change Passsword</div>
        <div class="side_btn" id="side_edit_save">Save</div>
        <div class="side_btn" id="side_edit_cancel">Cancel</div>
      </div>
      <div id="halfscreen_edit_right">
        <div class="input_width_set">
          <p class="input_title">Major<span>/</span></p>
          <input class="mid_input" type="text" name="Major" value="<%= me.Major %>"></input>
        </div>
        <div class="input_width_set">
          <p class="input_title">Skill<span>/</span></p>
          <input class="mid_input" type="text" name="Skill" value="<% for(var j = 0; j < me.Skill.length; j++){ %><%= me.Skill[j] %><% if( j != me.Skill.length - 1){ %>、<% } %><% } %>"></input>
        </div>
        <!-- <input class="mid_input" type="text" name="Skill" placeholder="[Skill]" value="<% if(me.Skill !== undefined){ %><% for(var j = 0; j < me.Skill.length; j++){ %><%= me.Skill[j] %><% if( j != me.Skill.length - 1){ %>, <% } %><% } %><%}%>">
        </input> -->
        <div class="input_width_set">
          <p class="input_title long">Recovery Email<span>/</span></p>
          <input class="mid_input short" type="text"  name="RecoveryEmail" value="<%= me.RecoveryEmail %>"></input>
        </div>
        <div class="input_width_set">
          <p class="input_title mid">Cellphone<span>/</span></p>
          <input class="mid_input mid" type="text" value=""></input>
        </div>
        <!-- <input class="mid_input" type="text" placeholder="Cellphone"></input> -->
        <!-- <input class="mid_input" type="password" placeholder="Passsword"></input> -->
        <!-- <input class="mid_input" type="password" placeholder="Confirm Password"></input> -->
        <div class="with_scroll" id="description_history_edit">
          <p class="right_title">Project</p><span>/</span>
          <% for(var i = 0; i < me.ProjectID.length; i++){ %>
            <a class="right_cont"><%= me.ProjectID[i].Name %></a>
          <% } %>
          <br>
          <p class="right_title">Activity</p><span>/</span>
          <% for(var i = 0; i < me.ActivityID.length; i++){ %>
            <a class="right_cont"><%= me.ActivityID[i].Name %></a>
          <% } %>
        </div>
        <p id="description_text">Personal Content (200 words max)</p>
        <textarea class="with_scroll" name="Introduction" id="description_input"><%= me.Introduction %></textarea>
        <div id="portfolio_upload">
           <p id="halfscreen_port_title">Portfolio</p>
           <span>/</span>
           <a class="halfscreen_port">Title1</a>
           <a class="halfscreen_port">Title2</a>
           <a class="halfscreen_port upload">Upload</a>
        </div>
      </div>
    </form>
  <% }else {%>
    <form id="halfscreen_first_edit">
      <div id="halfscreen_first_edit_left">
        <p id="personal_profile">【Personal Profile】</p>
        <img class="profile_photo big" src="/assets/images/molly.png">
        <input class="mid_input" type="text" name="Name" placeholder="Username" value=""></input>
        <input class="mid_input" type="text" name="Email" placeholder="E-mail" value=""></input>
        <div class="side_btn" id="side_edit_uploadavatar">Upload avatar</div>
        <div class="side_btn" id="signupSubmit">Sign Up</div>
        <!-- <div class="side_btn" id="side_edit_cancel">Cancel</div> -->
      </div>
      <div id="halfscreen_first_edit_right">
        <input class="mid_input" type="text" name="School" placeholder="School" value=""></input>
        <input class="mid_input" type="text" name="StudentID" placeholder="Student ID" value=""></input>
        <input class="mid_input" type="text" name="Major" placeholder="Major" value=""></input>
        <input class="mid_input" type="text" name="Skill" placeholder="Skill" value="">
        </input>
        <input class="mid_input" type="text" name="RecoveryEmail" placeholder="Recovery Email" value=""></input>
        <input class="mid_input" type="text" placeholder="Cellphone"></input>
        <input class="mid_input" type="password" name="Password" placeholder="Password"></input>
        <input class="mid_input" type="password" name="Password2" placeholder="Confirm Password"></input>
        <p id="description_text">Personal Content (200 words max)</p>
        <textarea class="with_scroll" name="Introduction" id="description_input"></textarea>
        <div id="portfolio_upload">
           <p id="halfscreen_port_title">Portfolio</p>
           <span>/</span>
           <a class="halfscreen_port">Title1</a>
           <a class="halfscreen_port">Title2</a>
           <a class="halfscreen_port upload">Upload</a>
        </div>
      </div>
    </form>
  <% } %>
</div>


<!-- 換密碼浮動視窗 -->
<div id="float_password_change">
  <a href="#" class="close_icon" id="close_pw">　</a>
  <p id="password_change_title">Change password</p>
  <div class="password_change_line"></div>
  <div id="pw_input">
    <p>Current password</p><input type="password"></input><br>
    <p>New password</p><input type="password"></input><br>
    <p>Verify your password</p><input type="password"></input>
  </div>
  <p id="forgot_password">Forgot your password?</p>
  <div class="password_change_line"></div>
  <div class="side_btn" id="side_btn_save_pw">Save</div>
  <div class="dark_mask"></div>
</div>

<!-- 引入js部分 -->
<% include ./sidebar_script %>
