<% layout('../public/layout') %>
<link rel="stylesheet" type="text/css" href="/assets/css/project_main_mobile.css">
<script type="text/javascript" src="/assets/js/activities.js"></script>

<div id="project_intro">
  <img class="main_round_pic" src="/assets/images/activity_round.png">
  <p>Activity</p>
  <hr>
  <p>All you need to do is: work hard, learn hard, and play hard.</p>
  <div id="intro_search">
    <!-- <img id="you_can" src="/assets/images/you_can.png"> -->
    <!-- <a href="#" class="searchbtn" id="search"></a>     -->
  </div>
</div>

<div id="activity_page">
    <div id="activity_view">
        <div id="preview_control">
            <a class="sort_way now" id="sort_hot">HOT</a>
            <a class="sort_way" id="sort_time">TIME</a>
        </div>
        <div id="activity_list">
        		<% for (var i = 0; i < activity.length; i++){%>
	            <div class="activity_item" onclick='location.href= "/activities/id/<%= activity[i]._id %>"'>
	                <div class="auto_adjust not_yet">
	                  <img class="preview_pic" src="/uploads/activity/<%= activity[i]._id %>/logo.png?<%= new Date().getTime() %>">
	                </div>
	                <p class="preview_title"><%= activity[i].Name %></p>
	                <!-- <p class="preview_description">客製你的專屬妝容與美感</p> -->
	                <p class="preview_date">
		                <% if(activity[i].Duration.length == 1 || (activity[i].Duration[1] - activity[i].Duration[0]) / (1000 * 60 * 60 * 24) < 1){ %>
		                	<%= new Date(Number(activity[i].Duration[0])).getFullYear() %>/<%= new Date(Number(activity[i].Duration[0])).getMonth() + 1 %>/<%= new Date(Number(activity[i].Duration[0])).getDate() %>
		                <% }else{ %> 
		                		<%= new Date(Number(activity[i].Duration[0])).getFullYear() %>/<%= new Date(Number(activity[i].Duration[0])).getMonth() + 1 %>/<%= new Date(Number(activity[i].Duration[0])).getDate() %>
		                    -
		                    <% if(new Date(Number(activity[i].Duration[0])).getFullYear() != new Date(Number(activity[i].Duration[1])).getFullYear()){%><%= new Date(Number(activity[i].Duration[1])).getFullYear() %>/<%}%><% if(new Date(Number(activity[i].Duration[0])).getMonth() != new Date(Number(activity[i].Duration[1])).getMonth()){%><%= new Date(Number(activity[i].Duration[1])).getMonth() + 1%>/<%}%><%= new Date(Number(activity[i].Duration[1])).getDate() %>
		                <% } %>
	                </p>
	            </div>
            <%  } %>
        </div>
        <div class="view_more"></div>
    </div>
</div>

<style type="text/css">
#activity_page{
  position: relative;
  width: 80vw;
  top: 14vh;
  margin-bottom: 14vh;
  left: 10vw; }

#activity_view {
  position: relative;
  top: -5vh;
  margin-bottom: 50px; }
  #activity_view #preview_control {
    position: relative;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #activity_view #preview_control .sort_way {
      position: relative;
      color: #ed9027;
      display: block;
      height: 60px;
      letter-spacing: 2px;
      cursor: pointer;
      transition: opacity 0.5s;
      line-height: 10vh;
      margin: 0 7vw 0 7vw; }
      #activity_view #preview_control .sort_way:after {
        position: absolute;
        top: 7vh;
        left: 0;
        content: "";
        display: block;
        height: 2px;
        width: 0px;
        background: #ed9027;
        transition: width 0.2s; }
      #activity_view #preview_control .sort_way:hover {
        opacity: 0.7; }
      #activity_view #preview_control .sort_way:active {
        opacity: 0.4; }
      #activity_view #preview_control .sort_way.now:after {
        width: 32px; }
  #activity_view #activity_list {
    position: relative; }
    #activity_view #activity_list .activity_item {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 30px 0px;
      cursor: pointer;
      text-align: center;
      border-bottom: #ed9027 2px solid;
      transition: 0.5s;
      background: black;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(76, 73, 72, 0.8) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(76, 73, 72, 0.8)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(76, 73, 72, 0.8) 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(76, 73, 72, 0.8) 100%);
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(76, 73, 72, 0.8) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(76, 73, 72, 0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4c4948', GradientType=0 ); }
      #activity_view #activity_list .activity_item:hover {
        opacity: 0.7; }
      #activity_view #activity_list .activity_item:active {
        opacity: 0.4; }
      #activity_view #activity_list .activity_item .auto_adjust {
        margin: auto;
        height: 30vh;
        width: 100%;
        margin-bottom: 15px; }
      #activity_view #activity_list .activity_item .preview_title {
        position: relative;
        color: #ed9027;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 600;
        padding: 13px; }
        #activity_view #activity_list .activity_item .preview_title:after {
          position: relative;
          top: 10px;
          left: 0;
          right: 0;
          margin: auto;
          margin-bottom: 10px;
          content: "";
          display: block;
          height: 2px;
          width: 30px;
          background: #ed9027; }
      #activity_view #activity_list .activity_item .preview_description {
        line-height: 20px;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: 600; }
      #activity_view #activity_list .activity_item .preview_date {
        line-height: 24px;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
        opacity: 0.7; }
</style>