<% layout('../public/layout') %>
<link rel="stylesheet" type="text/css" href="/assets/css/project_float_mobile.css">

<div class="float_window">
  <div id="detail_left">
    <div class="class_icons">
      <div class="float_icon culture"></div>
      <div class="float_icon digital"></div>
      <div class="float_icon social"></div>
    </div>
    <div id="detail_brief" >
      <div class="brief_pic">
        <img id="project_pic" src="/uploads/activity/<%= activity._id %>/logo.png">
        <!-- <img id="pic_more" src="/assets/images/pic_more.png"> -->
      </div>
      <p class="project_name">
        <% for(var i = 0; i < activity.BigTitle.length; i++){ %>
          <%= activity.BigTitle[i] %>
          <% if( i != activity.BigTitle.length - 1) { %> <br> <% } %>
        <% } %>   
      </p>
      <hr>
      <p id="detail_main_text">
        <% for(var i = 0; i < activity.SmallTitle.length; i++){ %>
          <%= activity.SmallTitle[i] %>
          <br>
        <% } %>     
      </p>
    </div>
  </div>
  <div id="detail_right">
    <div id="detail_type">
      <p class="title">Type</p>
      <span>/</span>
      <br>
      <p class="short orange"><%= activity.Type %></p>
    </div>
    <div id="detail_location">
      <p class="title">Location</p><span>/</span>
      <br>
      <p class="short orange"><%= activity.Location %></p>
      <div class="botton tiny" onclick="window.open('https://www.google.com.tw/maps/search/<%= activity.Location %>')">MAP</div>
    </div>
    <div id="detail_duration">
      <p class="title">duration</p>
      <span>/</span>
      <br>
      <p class="short orange">
        <% if(activity.Time[1] == 'undefined' ){ %>
          <%= new Date(Number(activity.Time[0])).getMonth() + 1 %>
          /
          <%= new Date(Number(activity.Time[0])).getDate() %>
        <% }else{ %> 
            <%= new Date(Number(activity.Time[0])).getMonth() + 1 %>
            /
            <%= new Date(Number(activity.Time[0])).getDate() %>
            -
            <%= new Date(Number(activity.Time[1])).getMonth() + 1 %>
            /
            <%= new Date(Number(activity.Time[1])).getDate() %>
        <% } %>
      </p>
    </div>
    <div id="detail_intro">
      <p class="title with_space">Introduction</p>
      <span>/</span>
      <br>
      <p class="long"><%- activity.Introduction.replace(/\r\n/g, '<br/>').replace(/\s/g, '') %>
      </p>
    </div>
    <div id="detail_contributer"><br/>
      <p class="title">Contributor</p>
      <span>/</span>
      <br>
      <p class="short"></p>
    </div>
    <div id="detail_activities">
      <p class="title">Activities</p>
      <span>/</span>
      <br>
      <p class="short"></p>
    </div>
    <div id="detail_teammate">
      <p class="title">Teammate</p>
      <span>/</span>
      <br>
      <p class="long">
        <% for(var i in members){ %>
          <a class="openInfo" type="users" id="<%= members[i]._id %>"><%= members[i].Name %></a>
          <% if(i != members.length - 1) {%> , <% } %>
        <% } %>
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">
$(window).on('load', function(){
  var inner_pic_size = $("#project_pic").css("width").replace("px","") / $( "#project_pic" ).css("height").replace("px","") ;
  var outer_div_size = 25/35 ;
  if ( inner_pic_size > outer_div_size ) {
      $("#project_pic").addClass("fat");
  }
  else {
      $("#project_pic").addClass("tall");
  }
});
</script>

